<!--forgotpasswordreq-page-->
<section class="forgotpasswordreq-page">
    <div class="hrrbox">
        <div class="header-logoinn">
            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>
        <a [routerLink]="" (click)="goToHome()"><i class="fa fa-arrow-left"></i></a>
        <div class="box-signon">

            <div class="box-sign">
                <div class="boxon-sign">
                    <h1 class="heading-1">Request for new password</h1>

                    <form [formGroup]="forgotPassword_req" (ngSubmit)="onSubmit_forgotPassword_req()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.exampleInputEmail1.errors }" formControlName="exampleInputEmail1" name="exampleInputEmail1" pattern="[A-Za-z0-9._%+-]{1,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
                            <div *ngIf="submitted && f.exampleInputEmail1.errors" class="invalid-feedback">
                            <div *ngIf="f.exampleInputEmail1.errors.required">Email is required</div>
                            <div *ngIf="f.exampleInputEmail1.errors.pattern">Invalid email
                            </div>
                            </div>

                        </div>

                        <div class="center">
                            <button type="submit" class="yellow-button">Send</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>