<!--registration-page-->
<section class="registration-page">
    <div class="hrrbox">
        <div class="header-logoinn">

            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>
        <div class="box-signon">
            <div class="box-sign">
            	<div class="boxon-sign">
                <h1 class="heading-1">Create an account</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit_reg()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First name</label>
      <input type="text" class="form-control" id="inputEmail4" [ngClass]="{ 'is-invalid': submitted && f.inputEmail4.errors }" formControlName="inputEmail4" name="inputEmail4" >
           <div *ngIf="submitted && f.inputEmail4.errors" class="invalid-feedback">
                <div *ngIf="f.inputEmail4.errors.required">First Name is required</div>
               <!--  <div *ngIf="f.inputEmail4.errors.pattern">Only alphabets allowed.</div> -->
               <!--  <div *ngIf="f.inputEmail4.errors.minlength">Name must be at least 4 characters long.
                </div> -->
            </div>

    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last name</label>
      <input type="text" class="form-control" id="inputPassword4" [ngClass]="{ 'is-invalid': submitted && f.inputPassword4.errors }" formControlName="inputPassword4" name="inputPassword4" >
       <div *ngIf="submitted && f.inputPassword4.errors" class="invalid-feedback">
                <div *ngIf="f.inputPassword4.errors.required">Last Name is required</div>
                <!-- <div *ngIf="f.inputPassword4.errors.pattern">Only alphabets allowed.</div> -->
            </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Email</label>
    <input type="text" class="form-control" id="inputAddress" [ngClass]="{ 'is-invalid': submitted && f.inputAddress.errors }" formControlName="inputAddress" name="inputAddress" pattern="[A-Za-z0-9._%+-]{1,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
     <div *ngIf="submitted && f.inputAddress.errors" class="invalid-feedback">
                <div *ngIf="f.inputAddress.errors.required">Email is required</div>
                <div *ngIf="f.inputAddress.errors.pattern">Invalid email</div>
            </div>
  </div>
<!-- <h5 class="requir-on">Password requirements:</h5> -->
<!-- password pattern pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$" -->
<!-- first name pattern="[a-zA-Z]+" -->

  <div class="form-group">
    <label for="inputAddress2">Password</label>
    <input type="password" class="form-control" id="inputAddress2" [ngClass]="{ 'is-invalid': submitted && f.inputAddress2.errors }" formControlName="inputAddress2" name="inputAddress2" >
    <div *ngIf="submitted && f.inputAddress2.errors" class="invalid-feedback">
                <div *ngIf="f.inputAddress2.errors.required">Password is required</div>
                <!-- <div *ngIf="f.inputAddress2.errors.minlength">Password must be at least 8 characters long.
                </div> -->
                <!--  <div *ngIf="f.inputAddress2.errors.pattern">Password must be at least 8 character, including UPPERCASE/lowercase/Special character and numbers.</div> -->
                
            </div>
  </div>
  
<div class="form-group">
    <label for="inputAddress3">Password confirm</label>
    <input type="password" class="form-control" id="inputAddress3" [ngClass]="{ 'is-invalid': submitted && f.inputAddress3.errors }" formControlName="inputAddress3" name="inputAddress3">
     <div class="error-msg" *ngIf="this.f.inputAddress2.value !== this.f.inputAddress3.value">
       <div *ngIf="submitted ">
    <p style="color: #d53241; font-size: 12px;margin:5px 0 0;font-family: Roboto-Regular;">Passwords don't match.</p></div>
    </div>
  </div>

  <div class="form-group country-resi">
    <label>Country of residence</label>       
    <select formControlName="country"  [(ngModel)]="country_in"  (change)="selectOptionCountry($event.target.value)" class="form-control">
    <option [value]="processTemplate.code"  *ngFor="let processTemplate of countrycode" >{{processTemplate.name}}</option>
    </select> 

    <label *ngIf="countrydiscovery==1" class="country-req"style="color: #d53241;font-size: 12px;margin:5px 0 0;font-family: Roboto-Regular;">Country is required</label>
    
                    
  </div>  

  <div class="form-group company-type">
      <label>Company type</label>
      <div class="company-div">
        <div class="type-1">    
          <input type="radio" formControlName="company" class="with-gap" [(ngModel)]="company_val" [value]="0">
          <label style="color: white;">Private Sector</label>
        </div>
        <div class="type-1">
          <input type="radio" formControlName="company" class="with-gap" [(ngModel)]="company_val" [value]="1" >
          <label style="color: white;">Public Sector</label><br>
        </div>
      </div>
      <label *ngIf="countrydiscovery==1" class="country-req">Country is required</label>
  </div>  

  <div class="form-group">
      <label>Who has invited you to this Sjerlok lookup portal?</label>
      <input formControlName="invitenote" [(ngModel)]="invitenote_val" class="form-control"   type="text" id="invitenote" > 
  </div>  

  <div class="form-group">
    <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="customCheck" name="customCheck" [ngClass]="{ 'is-invalid': submitted && f.customCheck.errors }" formControlName="customCheck" name="customCheck" >
      <label class="custom-control-label" for="customCheck">I agree with the <a href="/#/termsofuse">terms of use</a> and <a href="/#/privacylink">privacy statement</a></label>

        <!-- <div *ngIf="submitted && f.customCheck.errors "  >
                <div *ngIf="f.customCheck.errors.required" style="color: red">Please select terms and conditions.</div>
        </div> -->
          <div *ngIf="submitted && !(f.customCheck.value)" class="invalid-feedback">Please select terms and conditions.</div>
    </div>
  </div>
  <div class="center">
  <!-- <button type="submit" [disabled]= "!registrationForm.valid" class="btn btn">Register</button>
   -->
   <div *ngIf="submitted" style="color: red">{{resonseError}}</div>
   <button type="submit" class="yellow-button" >Register</button>
</div>
</form>

                </div>
                

            </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>
