
@font-face {
  font-family: 'Museo300-Regular';
  src: url('Museo300-Regular.eot?#iefix') format('embedded-opentype'),  url('Museo300-Regular.otf')  format('opentype'),
	     url('Museo300-Regular.woff') format('woff'), url('Museo300-Regular.ttf')  format('truetype'), url('Museo300-Regular.svg#Museo300-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
