<!--reseton-password-page-->
<section class="reseton-password-page">
    <div class="hrrbox">
        <div class="header-logoinn">
            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>

        <div class="box-signon">

            <div class="box-sign">
                <div class="boxon-sign">
                    <h1 class="heading-1">Reset password</h1>
                    <p class="reqestre">You have successfully created a new password. You can now login with your new credentials.</p>

                    <form (ngSubmit)="onSubmit_resetonpass()">

                    <div class="center">
                        <button type="submit" class="yellow-button">Go to login</button>
                    </div>

                    </form>
                </div>

            </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>