<style type="text/css">
    .active .fa-chevron-left:before
    {
        color: black;
        cursor: pointer;
    }
    .disabled .fa-chevron-left:before
    {
        color: rgba(52, 52, 52, 0.28);
        cursor: not-allowed;
    }
    li.disabled .fa-chevron-right:before {
        color: rgba(52, 52, 52, 0.28);
        cursor: not-allowed;
    }
    li.active{cursor: pointer;}
</style>

<!--search-history-page-->
<!-- <section *ngIf="error_data == true">
    <h1 class="history-empty" style="color: #353535">You don't have any search history.</h1>
</section> -->

<section class="search-history-page" *ngIf="error_data != false">
    <div class="datatable" >
            <div class="div-tab">
                <div class="div-tab1">
                    <h6 class="yosearch">Your search history</h6>
                </div>
                <div class="div-tab-00">
                    <div class="div-tab2">
                        <h6 class="numsearch">{{this.search_length}} searches</h6></div>
                    <div class="div-tab3">
                        <h6 class="filter"> <ul *ngIf="pager.pages " class="pagination">
                            <li [ngClass]="{disabled:pager.currentPage === 1,'active': step==='step1'}" >
                                <a (click)="setPage(pager.currentPage - 1)"><i class="fa fa-chevron-left"></i></a>
                            </li>
                        <span class="number-0">{{this.pager.startIndex + 1}} - {{this.pager.endIndex + 1}} / {{this.search_length}} </span>
                            
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="step='step1'">
                                <a (click)="setPage(pager.currentPage + 1)"><i class="fa fa-chevron-right"></i></a>
                            </li>
                        </ul></h6>
                    </div>
                </div>
            </div>
            <!--Table-->
            <table id="tablePreview" class="table">
                <!--Table head-->
                <thead>
                    <tr class="tablehead">
                        <th class="tavh1">VIN/HIN/License plate</th>
                        <th class="tavh2">Country of origin</th>
                        <th class="tavh3">Country of discovery</th>
                        <th class="tavh4">Sjerlok hit</th>
                        <th class="tavh5">Send to partners</th>
                        <th class="tavh6">Time stamp</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody >
                    <tr *ngFor="let data_test of pagedItems">
                        <td class="tdvh1" >{{data_test.search_term}}</td>

                        <td class="tdvh1" *ngIf="this.data_test.object_country_of_origin != null">{{data_test.object_country_found}}</td>
                        <td class="tdvh1" *ngIf="this.data_test.object_country_of_origin == null">Not found</td>
    

                        <td class="tdvh1" *ngIf="this.data_test.object_country_found != null">{{data_test.object_country_found}}</td>
                        <td class="tdvh1" *ngIf="this.data_test.object_country_found == null">Not found</td>

                        <td class="tdvh1" *ngIf="this.data_test.is_hit == true">Yes</td>
                        <td class="tdvh1" *ngIf="this.data_test.is_hit == false">No</td>


                        <td class="tdvh1" *ngIf="this.data_test.is_object_confiscated == true">Yes</td>
                        <td class="tdvh1" *ngIf="this.data_test.is_object_confiscated == false">No</td>


                        <td class="tdvh1">{{data_test.created_at}}</td>
                    </tr>
                   
                </tbody>
               
                <!--Table body-->
            </table>
            <!--Table-->
        
        <div>
    
       
            
        
</div>
       <!--   <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    </div>

    <!--arrow-->
    <div class="arrowscr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="arrow">
                       <!--  <a href="#"><i class="fa fa-chevron-left"></i></a>
                        <a href="#"><i class="fa fa-chevron-right"></i></a> -->
                        <!-- pager -->
            <ul *ngIf="pager.pages " class="pagination" >
                <li [ngClass]="{disabled:pager.currentPage === 1,'active': step==='step1'}" >
                    <a (click)="setPage(pager.currentPage - 1)"><i class="fa fa-chevron-left"></i></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="step='step1'">
                    <a (click)="setPage(pager.currentPage + 1)"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

