<!--home-page-->
<section class="home-page">
    <div class="hrrbox">
        <div class="header-logoinn">
            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>
        <div class="box-signon">
            <div class="box-sign confirmregistration">
                <div class="boxon-sign">
                    
                        <div class="form-group">
                            <div _ngcontent-wrm-c1="">
                                <h1 class="heading-1">Verify your registration</h1>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Thank you for registering in Sjerlok!<br> We have sent you an email to activate your account. </p>
                        </div>
                        <div class="text-center">
                            <p class="check-mail">Check your email </p>
                            <form (ngSubmit)="goToHome1()">
                            <a ><button type="submit" class="yellow-button">Home</button></a>
                            </form>
                           
                        </div>
                    

                </div>

            </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>