<!--login-page-->
<section class="login-page">
    <div class="hrrbox">
        <div class="header-logoinn">
            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>
        <div class="box-signon">
            <div class="box-sign">
            	<div class="boxon-sign">
                <h1 class="heading-1">Sign in</h1>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" formControlName="exampleInputEmail1" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.exampleInputEmail1.errors }" pattern="[A-Za-z0-9._%+-]{1,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
                        <div *ngIf="submitted && f.exampleInputEmail1.errors" class="invalid-feedback">
                           <div *ngIf="f.exampleInputEmail1.errors.required">Email is required</div>
                           <div *ngIf="f.exampleInputEmail1.errors.pattern">Invalid email</div>
                        </div>

                    </div>
                    <div class="form-group">

                        <div class="d-flex justify-content-between">
                            <div>
                                <label for="exampleInputPassword1">Password</label>
                            </div>
                            <div class="forg">
                                <a [routerLink]="" (click)="onGoToForgotPassReq()">Forgot password?</a>
                            </div>
                        </div>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="exampleInputPassword1" formControlName="exampleInputPassword1" [ngClass]="{ 'is-invalid': submitted && f.exampleInputPassword1.errors }">
                        <div *ngIf="submitted && f.exampleInputPassword1.errors" class="invalid-feedback">
                           <div *ngIf="f.exampleInputPassword1.errors.required">
                            Password is required
                           </div>
                        </div>
                    </div>
                    <div class="center">
                        <div *ngIf="submitted" style="color: red">{{resonseError_login}}</div>
                        <button type="submit" class="yellow-button">Login</button>
                    </div>
                </form>

                </div>
                <div class="register">
                    <p class="account"><a  [routerLink]="" (click)="onGoToRegister()" >Don't have an account? Register here</a></p>
                    <p class="account1">Trouble with login? Send an email to info@brightmaven.com</p>
                </div>

            </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>