<!--home-page-->
<section class="home-page find-page">
    <div class="hrrbox">
        <div class="header-logoinn" *ngIf="this.sessionDetails === null ">
            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>
               <div class="box-signon">
                <div _ngcontent-jmk-c1="" class="login-button-div"> <button *ngIf="this.sessionDetails === null " type="button" class="btn btn-primary btn-sm" (click)="onGoToLogin()"><a>Login</a></button>  </div>

            
            <div class="box-sign">
                <div class="boxon-sign">
                    <form [formGroup]="simpleSearchForm" (ngSubmit)="onSubmit_serach()">
                        <div class="form-group">
                            <div _ngcontent-wrm-c1="" class="d-flex justify-content-between">
                                <h1 class="heading-1">
                                    Find stolen objects online
                                </h1>
                                <div _ngcontent-jmk-c1="" class="forg-0"><a [routerLink]=""  *ngIf="this.sessionDetails != null"  (click)="onGoToExtendedsearch();" style="color:white;">Advanced search</a></div>

                            </div>

                            <input type="text" class="form-control" id="VIN" placeholder="VIN / HIN / Registration number / License Plate" [ngClass]="{ 'is-invalid': submitted && f.formGroupExampleInput.errors }" formControlName="formGroupExampleInput" name="formGroupExampleInput" id="formGroupExampleInput">
                            <div *ngIf="submitted && f.formGroupExampleInput.errors" class="invalid-feedback">
                              <div *ngIf="f.formGroupExampleInput.errors.required"><h6 class="center">Search can't be empty</h6></div>
                            </div>
                        </div>
                        <div class="center">
                            <button type="submit" class="yellow-button" >Check now</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>