<!--reset-password-page-->
<section class="reset-password-page">
    <div class="hrrbox">
        <div class="header-logoinn">
            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>

        <div class="box-signon">

            <div class="box-sign">
                <div class="boxon-sign">
                    <h1 class="heading-1">Request for new password</h1>
                    <p class="reqestre">We have send you an email. You will receive this within 
                    	a couple of minutes.
                        <br>In case you don't receive the email, contact us at info@brightmaven.com Please note that maybe this email landed in your spam folder.</p>
                    <div class="center">

                        <p class="check-mail">Check your email</p>
                    </div>

                    <form (ngSubmit)="onSubmit_resetpass()">
                    <div class="center">
                        <button type="submit" class="yellow-button">Home</button>
                    </div>
                    </form>
                </div>

            </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>