
<section class="home-page privacy-link">
    	<div class="header-logoinn">
            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>
	<div class="mob-res">	
            <div class="box-sign">
                <div class="boxon-sign">
					<h2 class="heading0">Privacy statement </h2> 
                    <div class="text-div-link-page">
                    	<div class="step-0">
	                    <h2>Lorem ipsum</h2>
	                    	<p>
		                      <span>Lorem ipsum dolor sit amet, consect adipiscing elit. </span>
		                    </p>
		                </div>
		                <div class="step-0">
	                    	<h2>Lorem ipsum</h2>
	                    	<p>
		                        <span>Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt magna aliqua.</span>
		                    </p>
		                </div>
		                <div class="step-0">
	                    	<h2>Lorem ipsum</h2>
	                    	<p>
		                        <span>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
		                    </p>
	                    	<p>
		                        <span>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
		                    </p>
	                    	<p>
		                        <span>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod. Ut enim ad minim veniam.</span>
		                    </p>
		                </div>
		                <div class="step-0">
	                    	<h2>Lorem ipsum</h2>
	                    	<p>
		                        <span>Lorem ipsum dolor ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
		                    </p>
		                </div>
                    </div>
                </div>
            </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>

    </div>

​

</section>

