/*login-page*/
::-webkit-scrollbar { width: 0;}
body {overflow: -moz-scrollbars-none;}
body { -ms-overflow-style: none; }
@font-face {
  font-family: 'MuseoSans-500';
    src: url('fonts/museosans_500-webfont.woff2') format('woff2'), url('fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'MuseoSans-100';
    src: url('fonts/MuseoSans-100.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'MuseoSans-300';
    src: url('fonts/MuseoSans-300.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'MuseoSans-500';
    src: url('fonts/MuseoSans-500.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'MuseoSans-700';
    src: url('fonts/MuseoSans-700.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}


.login-page {
  background: url(img/car1.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-bottom: 90px;
}

.login-page .header-logoinn {
  border-bottom: solid 2px #c9cac7;
}


.login-page .boxon-sign {
  padding: 0;
}

.login-page label {
  color: #fff;
  font-size: 11px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 400;
    margin: 9px 0px 5px 0px}

.login-page .signhx {
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  padding: 16px 0px;
  font-weight: 300;
  font-size: 25px;
}

.login-page .register {
  text-align: center;
  margin-top: 23px;
      margin-left: -30px;
    margin-right: -30px;
}
p.account, p.account1 {
    margin-bottom: 11px;
}
.login-page .register .account a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.login-page .register .account1 {
  color: #fff;
  font-size: 17px;
  
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
  padding: 4px 0px 19px 0px;
}

.login-page .center {
  text-align: center;
}
.login-page .forg {padding-top: 3px}

.login-page .btn:hover {
  background-color: #2879be;
}

.login-page {
  position: relative;
}

.login-page .forg a {
  color: #E1CC00;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.login-page .forg a:hover {
  color: #E1CC00;
  border-bottom: :none;
  text-decoration: none;
  color: #fff;
}
/*login-page-end*/


/*registration-page*/
.registration-page {
  background: url(img/car1.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-bottom: 90px;
}

.registration-page .header-logoinn {
  border-bottom: solid 2px #c9cac7;
}
.registration-page label {
  color: #fff;
  font-size: 10px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 400;
  padding-top: 5px;
}
.registration-page label a {
  color: #fff;
}
.registration-page .signhx {
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  padding: 16px 0px;
  font-weight: 300;
  font-size: 25px;
  font-family: 'Museo300-Regular';
  font-weight: normal;
  font-style: normal;
}

.registration-pagepage .register {
  text-align: center;
  padding-top: 3px;
}

.registration-page .register .account a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.registration-page .register .account1 {
  color: #fff;
  font-size: 17px;
  padding-bottom: 21px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}
.registration-page .center {
  text-align: center;
}
.registration-page .custom-control.custom-checkbox.mb-3 {
  margin-top: 36.45px;
  margin-bottom: 24px !important;
}
.registration-page .custom-control.custom-checkbox.mb-3 label {
  margin-bottom: 0;
}
.registration-page .custom-control.custom-checkbox.mb-3 input#customCheck {
    width: 24px;
    height: 24px;
    border-radius: 7px;
}
.registration-page .btn a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.registration-page .form-control {
  margin-bottom: 0px;
}

.registration-page .form-group {
  margin-bottom: 0rem;
}
.registration-page .requir-on {
  font-size: 10px;
  color: #fff;
  padding: 20px 0px 34px;
}
.registration-page .form-check a {
  color: #fff;
}
.registration-page .form-check {
  position: relative;
  display: block;
  padding: 16px 21px 0px;
}
.registration-page .btn:hover {
  background-color: #2879be;
}
.registration-page {
  position: relative;
}
.registration-page .forg a {
  color: #E1CC00;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.registration-page .forg a:hover {
  color: #E1CC00;
  border-bottom: :none;
  text-decoration: none;
  color: #fff;
}
.registration-page .hrrbox .even {
  color: #fff;
  font-size: 17px;
  padding-top: 18px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}
.home-page .box-sign .form-control {
  font-family: "Roboto-Regular";
  color:#000000;
  border-radius: 30px;
}
.find-page .box-sign .form-control {
  border-radius: 60px;
}
.find-page .box-sign .heading-1 {
  margin-bottom: 26px;
}
/*-media query-*/
@media(max-width: 320px) {
  .registration-page .box-sign {
    width: 100%;
  }

  .registration-page {
    height: auto;
  }

  .registration-page .signhx {
    font-size: 20px;
  }
}

.registration .box-sign .form-group {
  width: 100%;
  padding: 0px 12px;
}


}
/*registration-page-end*/


/*home-page*/
@font-face {
  font-family: 'MuseoSans-500';
    src: url('fonts/museosans_500-webfont.woff2') format('woff2'), url('fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Museo300-Regular';
    src: url('fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Museo300-Regular.otf') format('opentype'), url('fonts/Museo300-Regular.woff') format('woff'), url('fonts/Museo300-Regular.ttf') format('truetype'), url('fonts/Museo300-Regular.svg#Museo300-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}


.home-page {
  background: url(img/car1.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 90px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow: hidden;
}

.home-page .header-logoinn {
  border-bottom: solid 2px #c9cac7;
}

.bg-light {
  background-color: #34495E!important;
  padding: 19px 0px 0 26px;
  color: #fff;
}
 #navbarDropdownMenuLink {
  margin-right: 46px;
  color: #fff;
  font-size: 15px;
}
button:focus {
  outline: none;
}
.navbar-light .navbar-brand {
    color: #fff;
    font-family: 'MuseoSans-500';
    font-size: 36px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #E1CC00;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 0 23px 5px;
  font-weight: 500;
  font-size: 17px;
}
a.nav-link {
    font-family: MuseoSans-100;
}
.home-page .navbar-nav.mr-auto {
  margin-top: 18px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  border-bottom: solid 6px #fff;
  margin:0 20px;
}
.custmer {
  background: #E1CC00;
  border-radius: 100%;
  width: 33px;
  height: 33px;
  padding: 5px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-family: "MuseoSans-500";
}
.dropdown-toggle::after {
  margin-left: 38px;
}
.home-page .box-sign .form-control {
  font-size: 20px;
  height: 86px;
  padding:0 30px;
}
.home-page .box-sign .form-control:placeholder {
  color: #000000;
}
.home-page .box-sign .form-group label {
  display: inline-block;
  margin-bottom: 14px;
  text-align: left;
  font: Regular 36px/43px Museo Sans 300;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  font-size: 25px;
}
.home-page .box-sign .center {
  text-align: center;
}
.home-page .box-sign .center .btn {
  background-color: #E1CC00;
  border: none;
  border-radius: 0px;
  padding: 17px 66px;
  margin-top: 9px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
  font-size: 17px;
}
.home-page {
  position: relative;
}
.home-page .btn.btn-primary.btn-sm {
  position: absolute;
  right: 18px;
  top: 18%;
  background: #0E0E0E;
  border: none;
  padding: 21px 94px;
  border-radius: 0px;
}
.home-page .btn.btn-primary.btn-sm a {
  /*color: #fff;
  font-family: Roboto-Regular, sans-serif;
  font-weight: normal;
  border-bottom: none;
  font-size: 24px;*/
}
.home-page .forg a:hover {
  color: #E1CC00;
  border-bottom: :none;
  text-decoration: none;
}
.home-page .hrrbox .even {
  color: #fff;
  font-size: 24px;
  padding-top: 18px;
  font-family: "Roboto-Regular";
  font-weight: normal;
  position: absolute;
  bottom: 20px;
  left: 45%;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #FFFFFF;
}
/*-media query-*/
/*home-page-end*/


/*forgotpassword-page*/
@font-face {
  font-family: 'MuseoSans-500';
    src: url('fonts/museosans_500-webfont.woff2') format('woff2'), url('fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: 'Museo300-Regular';
    src: url('fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Museo300-Regular.otf') format('opentype'), url('fonts/Museo300-Regular.woff') format('woff'), url('fonts/Museo300-Regular.ttf') format('truetype'), url('fonts/Museo300-Regular.svg#Museo300-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.forgotpassword-page {
  background: url(img/car1.jpg);
  min-height: 100vh;
  padding-bottom: 90px;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow: hidden;
}

.header-logoinn {
  border-bottom: solid 2px #c9cac7;
}

.forgotpassword-page .box-sign {
  margin-top:72px;
  padding: 36px 71.51px 37px 71px;
}

.forgotpassword-page label {
  color: #fff;
  font-size: 15px;
  font-family: Roboto-Regular;
  margin-bottom: 9px;
  font-weight: normal;
}

.forgotpassword-page .signhx {
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  padding: 18px 0px;
  font-weight: 300;
  font-size: 25px;
}
.forgotpassword-page .form-control{border-radius: 5px}

.forgotpassword-page .register {
  text-align: center;
  padding-top: 3px;
}
.forgotpassword-page .register .account a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  font-family: Roboto-Regular, sans-serif;
  font-weight: 500;
}
.forgotpassword-page .register .account1 {
  color: #fff;
  font-size: 17px;
  padding-bottom: 21px;
  font-family: Roboto-Regular, sans-serif;
  font-weight: normal;
}

.forgotpassword-page .center {
  text-align: center;
}

.forgotpassword-page .btn {
  background-color: #E1CC00;
  padding: 8px 54px;
  color: #fff;
  margin: 12px 0px 27px 0px;
  border-radius: 0px;
  font-family: Roboto-Regular, sans-serif;
  font-weight: 500;
}

.forgotpassword-page .btn a {
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}

.forgotpassword-page {
  position: relative;
}

.forgotpassword-page .hrrbox .even {
  color: #fff;
  font-size: 17px;
  margin:30px 0 20px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}
/*forgotpassword-page-end*\


/*forgotpasswordreq-page*/
section.reset-password-page .box-sign {
    margin-top: 72px;
    padding-bottom: 33px;
}
.profilechange .box-sign .name-slod:first-child .form-group label {
    font-size: 14px;
    margin-bottom: 10px;
}
.forgotpasswordreq-page {
  background: url(img/car1.jpg);
  min-height: 100vh;
  padding-bottom: 90px;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow: hidden;
}
.header-logoinn {
  border-bottom: solid 2px #c9cac7;
}
.forgotpasswordreq-page .signhx {
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  padding: 16px 0px;
  font-weight: 300;
  font-size: 25px;
}
.forgotpasswordreq-page .register {
  text-align: center;
  padding-top: 3px;
}

.forgotpasswordreq-page .register .account a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.forgotpasswordreq-page .register .account1 {
  color: #fff;
  font-size: 17px;
  padding-bottom: 21px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}

.forgotpasswordreq-page .center {
  text-align: center;
}

.forgotpasswordreq-page {
  position: relative;
}

.forgotpasswordreq-page .fa-arrow-left:before {
    content: "\f060";
    color: #fff;
    font-size: 30px;
    left: 58.25px;
    position: relative;
    bottom: -100px;
}

.forgotpasswordreq-page .btn a {
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}

.forgotpasswordreq-page .hrrbox .even {
  color: #fff;
  font-size: 17px;
  padding-top: 273px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}
/*forgotpasswordreq-page-end*/


/*reset-passwordforgotpasswordreq-page*/
@font-face {
  font-family: 'MuseoSans-500';
    src: url('fonts/museosans_500-webfont.woff2') format('woff2'), url('fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Museo300-Regular';
    src: url('fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Museo300-Regular.otf') format('opentype'), url('fonts/Museo300-Regular.woff') format('woff'), url('fonts/Museo300-Regular.ttf') format('truetype'), url('fonts/Museo300-Regular.svg#Museo300-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}
.reset-password-page {
  background: url(img/car1.jpg);
  min-height: 100vh;
  padding-bottom: 90px;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow: hidden;
}
.resetpasswordfields .box-sign .name-slod:first-child .form-group label {
  font-size: 15px;
  margin-bottom: 9px;
}

.header-logoinn {
  border-bottom: solid 2px #c9cac7;
}
.reset-password-page label {
  color: #fff;
  font-size: 11px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 400;
}
.reset-password-page .signhx {
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  padding: 13px 0px;
  font-weight: 300;
  font-size: 25px;
}
.reset-password-page .reqestre {
  color: #fff;
  text-align: left;
    color: #FFFFFF;
    font-family: Roboto-Regular;
  opacity: 1;
  font-size: 15px;
}
.reset-password-page .Check {
  padding-top: 45px;
}
.reset-password-page .Check a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border-bottom: none;
  font-size: 17px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.reset-password-page .register {
  text-align: center;
  padding-top: 3px;
}

.reset-password-page .register .account a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.reset-password-page .register .account1 {
  color: #fff;
  font-size: 17px;
  padding-bottom: 21px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}

.reset-password-page .center {
  text-align: center;
}

.reset-password-page .btn {
  background-color: #E1CC00;
  padding: 7px 51px;
  color: #fff;
  margin: 23px 0px 25px 0px;
  border-radius: 0px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.reset-password-page {
  position: relative;
}

.reset-password-page .fa-arrow-left:before {
  content: "\f060";
  color: #fff;
  font-size: 21px;
  position: absolute;
  left: 41px;
  top: 19%;
}

.reset-password-page .btn a {
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}

.reset-password-page .hrrbox .even {
  color: #fff;
  font-size: 17px;
  padding-top: 263px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}

.nav-item.dropdown #navbarDropdownMenuLink ~ .dropdown-menu.show {
    width: 150px;
    position: absolute;
   
}
/*-media query-*/
@media(max-width: 425px) {
  

  .reset-password-page .hrrbox .even {
    padding-top: 200px;
  }
}

@media(max-width: 320px) {
  
  .reset-password-page .hrrbox .even {
    padding-top: 200px;
  }

  .reset-password-page .signhx {
    font-size: 20px;
  }
}
/*reset-passwordforgotpasswordreq-end*/

/*reseton-passwordforgotpasswordreq-page*/
@font-face {
  font-family: 'MuseoSans-500';
    src: url('fonts/museosans_500-webfont.woff2') format('woff2'), url('fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Museo300-Regular';
    src: url('fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Museo300-Regular.otf') format('opentype'), url('fonts/Museo300-Regular.woff') format('woff'), url('fonts/Museo300-Regular.ttf') format('truetype'), url('fonts/Museo300-Regular.svg#Museo300-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}


.reseton-password-page {
  background: url(img/car1.jpg);
  min-height: 100vh;
  padding-bottom: 90px;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow: hidden;
}

.header-logoinn {
  border-bottom: solid 2px #c9cac7;
}


.reseton-password-page label {
  color: #fff;
  font-size: 11px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 400;
}

.reseton-password-page .signhx {
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  padding: 14px 0px;
  font-weight: 300;
  font-size: 25px;
}
section.reseton-password-page .center {
    padding-right: 38px;
}
.reseton-password-page .reqestre {
  text-align: left;
  color: #FFFFFF;
  opacity: 1;
  font-size: 15px;
font-family: Roboto-Regular;
margin-bottom: 69px;
line-height: 36px;
}
.reseton-password-page .yellow-button {
  margin-bottom: 3px;
}
.reseton-password-page .Check {
  padding-top: 53px;
}

.reseton-password-page .Check a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border-bottom: none;
  font-size: 17px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.reseton-password-page .register {
  text-align: center;
  padding-top: 3px;
}

.reseton-password-page .register .account a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.reseton-password-page .register .account1 {
  color: #fff;
  font-size: 17px;
  padding-bottom: 21px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}

.reseton-password-page .center {
  text-align: center;
}

.reseton-password-page .btn {
  background-color: #E1CC00;
  padding: 8px 33px;
  color: #fff;
  margin: 67px 0px 27px 0px;
  border-radius: 0px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.reseton-password-page {
  position: relative;
}

.reseton-password-page .fa-arrow-left:before {
  content: "\f060";
  color: #fff;
  font-size: 21px;
  position: absolute;
  left: 41px;
  top: 19%;
}

.reseton-password-page .btn a {
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}

.reseton-password-page .hrrbox .even {
  color: #fff;
  font-size: 17px;
  padding-top: 316px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}

section.home-page.find-page h6.center {
    color: #dc3545;
    margin-top: .25rem;
    font-size: 13px;
}

/*toast css*/

div#toast-container {
    width: 400px;
    height: 89px;
    right: 54px;
    font-family: "Roboto-Medium";
    font-size: 24px;
    line-height: 29px;
    position: absolute;
}
.toast-container .ngx-toastr {
    width: 100% !important;
    margin: 0 !important;
    font-family: "Roboto-Medium";
    font-size: 24px;
    line-height: 29px;
    padding: 15px 0;
    text-align: center;
    background-color: #81D243;
    height: 89px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .toast-message {
    font-family: "Roboto-Medium";
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
 }
div#toast-container {
    top: 168px;
}
/*toast css end*/
/*-media query-*/
@media(max-width: 320px) {
  .reseton-password-page .signhx {
    font-size: 20px;
  }
}
/*forgotpasswordreq-page-end*/


/*register1-page*/
.register1-page {
  background: url(img/car1.jpg);
  min-height: 100vh;

  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow: hidden;
}

.header-logoinn {
  border-bottom: solid 2px #c9cac7;
}

.register1-page label {
  color: #fff;
  font-size: 11px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 400;
}

.register1-page .signhx {
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
 padding: 15px 0px 17px 0px;
  font-weight: 300;
  font-size: 25px;
}

.register1-page .reqestre {
  text-align: left;
  font-family: Roboto-Regular;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 18px;
}

.register1-page .Check {
  margin-top: 50px;
}

.register1-page .Check a {
    color: #fff;
    font-size: 24px;
    font-family: Roboto-Regular;
}

.register1-page .register {
  text-align: center;
  padding-top: 3px;
}

.register1-page .register .account a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.register1-page .register .account1 {
  color: #fff;
  font-size: 17px;
  padding-bottom: 21px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
}

.register1-page .center {
  text-align: center;
}

.register1-page .btn {
  background-color: #E1CC00;
  padding: 7px 51px;
  color: #fff;
  margin: 25px 0px 20px 0px;
  border-radius: 0px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 500;
}

.register1-page {
  position: relative;
}

.register1-page .fa-arrow-left:before {
  content: "\f060";
  color: #fff;
  font-size: 21px;
  position: absolute;
  left: 41px;
  top: 19%;
}

.register1-page .btn a {
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}


/*-media query-*/
@media(max-width: 320px) {
  .register1-page .signhx {
    font-size: 20px;
  }
}


/*register1-page-end*/

/*profil-page*/
.profil-page {
  background: url(img/car2.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow: hidden;
}

.profil-page .header-logoinn {
  border-bottom: solid 2px #c9cac7;
  display: none;
}


.profil-page button:focus {
  outline: none;
}


.profil-page .box-sign .center {
  text-align: center;
}

.profil-page .box-sign .center .btn {
  background-color: #E1CC00;
  border: none;
  border-radius: 0px;
  padding: 17px 66px;
  margin-top: 9px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
  font-size: 17px;
}

.profil-page {
  position: relative;
}

.profil-page .btn.btn-primary.btn-sm {
  position: absolute;
  right: 18px;
  top: 18%;
  background: #0E0E0E;
  border: none;
  padding: 21px 94px;
  border-radius: 0px;
}

.profil-page .btn.btn-primary.btn-sm a {
  color: #fff;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
  border-bottom: none;
  font-size: 16px;
  font-weight: 400;
}

.profil-page .forg a {
  color: #fff;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.profil-page .forg a:hover {
  color: #E1CC00;
  border-bottom: :none;
  text-decoration: none;
  color: #fff;
}

.profil-page .hrrbox .even {
  color: #fff;
  font-size: 17px;
  padding-top: 18px;
  font-family: Roboto-Bold, sans-serif;
  font-weight: normal;
  position: absolute;
  bottom: 20px;
  left: 45%;
}
/*-media query-*/



/*Profil-page-end*/


/*search-history-page*/
.search-history-page .datatable {
  margin-top: 50px;
}

.search-history-page .datatable .container-fluid {
  padding: 0px;
}

.search-history-page .arrowscr .arrow {
  text-align: end;
  padding: 36px 0px;
}

.search-history-page .datatable .yosearch {
  font-size: 36px;
  font-family: 'MuseoSans-300';
  font-weight: normal;
  font-style: normal;
  color: #353535;
  margin-bottom: 29px;
  line-height: 43px;
}

.search-history-page .datatable .numsearch {
  font-size: 11px;
  color: #353535;
  padding: 21px 0px 0px 93px;
}
.search-history-page .fa-chevron-left:before {
  content: "\f053";
  margin-right: 23px;
  cursor: pointer;
  font-size: 22px;
  color: rgba(52, 52, 52, 0.28);
}
.search-history-page .arrow .fa-chevron-left:before {
  content: "\f053";
  margin-right: 34px;
  cursor: pointer;
  font-size: 22px;
  color: rgba(52, 52, 52, 0.28);
}

.search-history-page .fa-chevron-right:before {
  font-size: 22px;
  cursor: pointer;
}
.search-history-page .arrow a {
  color: #000;
}

.search-history-page .table {
  margin-top: 12px;
}

.search-history-page tr:nth-child(odd) {
  background-color: rgba(52, 73, 94, 0.1);
  ;
}

.search-history-page  .table thead th {
  border-bottom: 0px solid #dee2e6;
  background: #fff;
  border-top: none;
  color: #353535;
  font-family: Roboto-Bold;
  font-size: 15px;
  padding: 0px;
  font-weight:bold;
}

.table td {
  padding: 0px;
}

.search-history-page tr {
  font-family: Roboto-Bold, sans-serif;
  font-size: 11px;
}

.search-history-page .datatable .filter {
  font-size: 11px;
  color: #353535;
  padding: 20px 0px 0px 53px;
}
.search-history-page h6.filter ul.pagination li a, .search-history-page .arrowscr .arrow ul.pagination li a {
    background-color: transparent;
    border: none;
}
.search-history-page .datatable .filter .fa-chevron-right:before {
  content: "\f054";
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer;
  color: #343434;
}


/*-media query-*/
@media 
only screen and (max-width: 768px),
(min-device-width: 320px) and (max-device-width: 1024px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    width: 100%;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }

  td {
    border: none;
    border-bottom: 0px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }

  td:before {
    position: absolute;
    top: 0px;
    left: 6px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .search-history-page .table tbody td {
    margin: 10px 0;
  }
  tr.tablehead {
    display: none;
}
.search-history-page .table thead th, .search-history-page .table tbody td {
  height: auto;
}
.search-history-page .arrowscr .arrow {
  padding: 10px 0;
}
  td:nth-of-type(1):before {
    content: "VIN/HIN/License plate";
    font-weight: bold;
    text-align: left;
  }

  td:nth-of-type(2):before {
    content: "Country of origin";
    font-weight: bold;
    text-align: left;
  }

  td:nth-of-type(3):before {
    content: "Country of discovery";
    font-weight: bold;
    text-align: left;
  }

  td:nth-of-type(4):before {
    content: "Sjerlok hit";
    font-weight: bold;
    text-align: left;
  }

  td:nth-of-type(5):before {
    content: "Send to partners";
    font-weight: bold;
    text-align: left;
  }

  td:nth-of-type(6):before {
    content: "Time stamp";
    font-weight: bold;
    text-align: left;
  }

  .search-history-page .datatable .container-fluid {
    padding: 0;
  }

  .search-history-page .datatable .filter {
    padding: 0px;
  }

  .search-history-page .datatable .numsearch {
    padding: 7px;
  }

  

  .search-history-page .col-md-2 {
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .search-history-page .navbar-light .navbar-nav .nav-link.active,
 .search-history-page .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 0px;
  }
}

@media (max-width: 425px) {
 
  .search-history-page .navbar-light .navbar-nav .nav-link.active,
 .search-history-page .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 0px;
  }
}

@media(max-width: 320px) {
    
    
  .dropdown-menu.show {
    margin-left: 39px;
    margin-top: 0px;
  }

  .search-history-page .navbar-light .navbar-nav .nav-link.active,
 .search-history-page .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 0px;
  }
}

/*search-history-page-end*/

/*keshu css add*/
/*profilechange page*/
.box-sign {
  width: 723px;
  border-radius: 16px;
  background: rgba(0, 0, 0, .6);
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  float: none;
  margin-top: 100px;
  padding: 36px 71px 50px 71px;
}
.heading-1 {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 43px;
  font-family: 'MuseoSans-300';
  margin: 0 0 37px 0;
}
.profilechange .box-sign .form-group {
  color: #353535;
  margin:0 0 9.45px; 
  width: 100%;
}
.profilechange .box-sign .form-group.country-resi .select-custom:after {
  color:#353535;
  top:16px;
}
.profilechange .box-sign .form-group.country-resi select {
    border-radius: 8px;
    padding: 0 15px;
    height: 55.55px;
    width: 100%;
    background-color: #FFFFFF;
}
section.home-page.profile-change-page .box-signon.profilechange .yellow-button {
    margin: 42px 0 58px;
}
.reset-0 a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.profilechange .box-sign .form-group label {
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 9px;
  color: #FFFFFF;
  font-family: "Roboto-Regular";
  font-weight: normal;
}
.name-slod, .input-duble {
  display: inline-flex;
  width: 100%;
}
.profilechange .box-sign .form-control {
  border-radius: 8px;
  padding: 0 15px;
  height: 55.55px;
}
.name-slod:first-child .form-group:first-child {
  padding: 0 7px 0px 0;
}
.name-slod:first-child .form-group:last-child {
  padding: 0 0px 0px 7px;
}
.input-duble .form-control:first-child {
  width: 20.44%;
  margin-right: 15px;
  float:left;
}
.reset-0 {
  width: 100%;
  display: block;
}
.reset-0 a {
  color: #E1CC00;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 18px;
  display: block;
  font-family: "Roboto-Medium";
}
section.home-page.profile-change-page .box-sign {
    padding-bottom: 76px;
}
.profilechange  .box-sign .center .btn {
  margin: 50px 0;
  padding: 0 15px;
    height: 48px;
    width: 200px;
}
.profilechange  .box-sign .center .btn a {
  color: #FFF;
  font-size: 24px;
}
a:hover {
  text-decoration: none;
}
.copyright {
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
    font-family: "Roboto-Regular";
    position: absolute;
    left: 0;
    bottom: 26px;
    width: 100%;
    margin-top: 100px;
}
.profile-change-page {
  background: url(img/car-a.jpg);
  background-position: 80% center;
  height: auto;
  padding-bottom: 90px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.profile-change-page.car-0 {
    background: url(img/car-a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*header */
.profile-change-page .navbar a.navbar-brand, .profile-change-page #navbarDropdownMenuLink {
    padding: 0;
    margin: 0;
}
.profile-change-page .navbar {
  margin: 0;
  padding: 0 30px;
  height: 80px;
}
.profile-change-page .navbar-nav {
  padding: 0 15px 0 25px;
  margin-bottom: 0px;
}
.profile-change-page .navbar-light .navbar-nav .nav-link {
  padding:0 23px 5px;
  margin: 0;
}
.profile-change-page .navbar-light .navbar-nav .nav-item {
  width: 160px;
  text-align: center;
}
.profile-change-page .nav-item.dropdown {
    width: 230px;
    text-align: center;
}
.profile-change-page .nav-item.dropdown #navbarDropdownMenuLink {
    width: 100%;
    font-family: MuseoSans-500;
}
.profile-change-page .dropdown-toggle::after {
    position: relative;
    right: -15px;
    bottom: 0;
    margin-left: 0;
}
.profile-change-page .navbar .container-fluid {
    padding: 26px 15px 0 0px;
}
body, label, h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

/*search-history-page*/

.search-history-page .table {
    margin-top: 0;
}
.search-history-page .table thead th, .search-history-page .table tbody td {
  
  vertical-align: middle;
  padding: 10.5px 0;
}
.search-history-page .table tbody td {
  border-bottom: 0px solid #dee2e6;
  border-top: none;
  color: #353535;
  font-family: Roboto-Regular;
  font-size: 15px;
}
section.search-history-page {
    padding: 0 120px 0 108px;
}
.table-box-div {
  width: 100%;
  display: block;
}
.search-history-page .table tbody td:first-child, .search-history-page .table thead th:first-child {
    padding-left: 40px;
}
.search-history-page .datatable .filter, .search-history-page .datatable .numsearch {
  font-size: 15px;
  color: #353535;
  padding: 31px 0px 0px 0px;
  text-align: end;
}
.search-history-page .datatable .numsearch {
  padding-left: 15px;
  text-align: left;
  font-family: "Roboto-Regular";
  font-size: 15px;
  line-height: 20px;
}

/*header*/
.search-history-page .navbar, .navbar {
    margin: 0;
    padding: 0 19px 0 13px;
    height: 80px;
}
.search-history-page .navbar .container-fluid, .navbar .container-fluid {
      padding: 26px 15px 0 0px;
}
.search-history-page .navbar .navbar-brand, .navbar .navbar-brand {
  margin:0;
  padding:0;
}

.search-history-page .navbar-light .navbar-nav .nav-item, .navbar-light .navbar-nav .nav-item {
    width: 160px;
    text-align: center;
}
.search-history-page .navbar-light .navbar-nav .nav-link, navbar-light .navbar-nav .nav-link {
  padding: 0 23px 5px;
  margin: 0;
}
.search-history-page .nav-item.dropdown, .nav-item.dropdown {
    width: 230px;
    text-align: center;
}
.search-history-page .nav-item.dropdown #navbarDropdownMenuLink, .nav-item.dropdown #navbarDropdownMenuLink {
    width: 100%;
    font-family: MuseoSans-500;
    margin:0;
    padding:0;
}
.search-history-page .dropdown-toggle::after, .dropdown-toggle::after {
    position: relative;
    right: -15px;
    bottom: 0;
    margin-left: 0;
}
.search-history-page .custmer, .custmer {
  margin-top: 0;
  font-family: "MuseoSans-500";
}

/*header css complete*/


/*home page*/
section.reset-password-page p.check-mail {
    margin: 54px 0 38px;
}
.login-button-div {
  text-align: right;
}
.home-page .btn.btn-primary.btn-sm {
    position: sticky;
    right: 0px;
    top: 0;
    margin: 30px 30px 0 0;
    background: #0E0E0E;
    border: 2px solid #0E0E0E;
    width: 305px;
    padding: 0 15px;
    height: 85px;
    font-size: 24px;
    font-family: "Roboto-Medium";
    border-radius: 0px;
    line-height: 20px;
}

.home-page .forg a {
  font-family: "Roboto-Regular";
  color: #FFFFFF;
  font-size: 24px;
}
.home-page .box-sign .center .btn {
  font-family: "Roboto-Regular";
  padding:15px;
  width: 200px;
  height: 50px;
  line-height: 20px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #FFFFFF;
}
/*confirmregistration*/
.box-signon.profilechange.resetpasswordfields {
    margin-top: 119px;
}
.registration-page .form-control {
  height: 55.55px;
}
.home-page .confirmregistration .form-group {
  margin:0;
  padding:0;
  width: 100%;
}
.confirmregistration p {
  color: #FFFFFF;
  font-size: 15px;
  font-family: "Roboto-Regular";
  margin-bottom: 20px;
}
p.check-mail {
  font-size: 24px;
  font-family: "Roboto-Medium";
  margin: 72px 0 28px;
  color: #FFFFFF;
}
.box-sign.confirmregistration {
    padding: 36px 71px 27px 71px;
        margin-top: 72px;

}
.find-page .box-sign .yellow-button {
  width: 305px;
  height: 85px;
  margin-top: 35px;
}
.yellow-button {
    font-family: "Roboto-Medium";
    padding: 0 15px;
    width: 205px;
    height: 57px;
    line-height: 20px;
    margin: 10px 0 15px;
    background-color: #E1CC00;
    border: none;
    color: #FFFFFF;
    border-radius: 0;
    font-size: 24px;
    border:2px solid #e1cc00;
}
.yellow-button:hover {
    background-color: transparent;
    border-color: #e1cc00;
    color: #e1cc00;
}
.yellow-button a {
  color: #FFFFFF;
  font-size: 24px;
}
/*login-page*/
.box-sign .form-group {
  margin-bottom: 38.45px;
}
.pagination {
  font-size: 13px;
}

.login-page label, .forgotpasswordreq-page label, .profil-page label {
    color: #fff;
    font-size: 15px;
    font-family: "Roboto-Regular";
    margin: 0px 0px 9px;
    font-weight: normal;
}
.login-page input, input#exampleInputEmail1 {
  border-radius: 8px;
  padding: 0 15px;
  height: 55.55px;
  font-size: 17px;
}
section.home-page.profile-change-page .box-signon.profilechange.resetpasswordfields .yellow-button {
  margin: 61px 0 15px;
}
.login-page .forg a {
    color: #E1CC00;
    font-family: "Roboto-Medium";
    font-size: 18px;
}
.login-page .forg {
  padding-top: 0;
}

.login-page .register .account a, .login-page .register .account1 {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    font-size: 24px;
    font-family: Roboto-Regular;
    padding: 0;
}
.login-page .register .account a {font-family: Roboto-Medium;}
.registration-page .custom-control.custom-checkbox label.custom-control-label {
    padding-left: 25px;
        padding-top: 6px;
}
.custom-control-input.is-invalid~.custom-control-label, .was-validated .custom-control-input:invalid~.custom-control-label {
  color: #FFFFFF;
}
.registration-page .form-group.col-md-6 label {
  font-size: 14px;
  margin-bottom: 10px;
}
.registration-page .custom-control.custom-checkbox .custom-control-label::after, .registration-page .custom-control.custom-checkbox .custom-control-label::before {
    margin: 2px 0 0;
    width:24px;
    height: 24px;
    border-radius: 7px;
}
.registration-page .form-control, .forgotpassword-page .form-control {
  border-radius: 8px;
    padding: 0 15px;
    height: 55.55px;
    font-size: 17px;
    font-family: Roboto-Regular;
}
.registration-page label {
    font-size: 15px;
    font-family: Roboto-Regular;
    padding: 0;
    margin-bottom: 9px;
}
.registration-page .form-group {
    margin-bottom: 9.45px;
    padding: 0;
}
.registration-page .form-group.col-md-6:first-child {
  padding: 0 7px 0 5px;
}
.registration-page .form-group.col-md-6:last-child {
  padding: 0 5px 0 7px;
}
.registration-page .requir-on {
    font-size: 15px;
    color: #fff;
    padding: 0;
    margin: 20px 0 36px;
    font-family: Roboto-Regular;
}
.registration-page .hrrbox .even {
    color: #fff;
    font-size: 17px;
    font-family: Roboto-Regular;
    padding:0;
    margin: 20px 0;
}
.forgotpasswordreq-page .boxon-sign {
  padding: 0;
}
section.forgotpasswordreq-page .yellow-button {
    margin-top: 34px;
}
.forgotpasswordreq-page .hrrbox .even {
    font-size: 17px;
    padding: 0;
    font-family: Roboto-Regular;
    margin: 20px 0;
}
.content {
  margin-bottom: 20px;
  display: inline-block;
}
.content p {
    color: #FFF;
    font-size: 15px;
    font-family: Roboto-Regular;
    line-height: 18px;
    margin:0;
}
.jcbpage h1.heading-2 {
    color: #FFF;
    margin:52px 0 0;
}
section.jcbpage .profilechange .box-sign .center .btn {
    margin: 38px 0 0;
    width: 205px;
    height: 57px;
}
h1.heading-2 {
    font-size: 24px;
    font-family: Roboto-Medium;
    margin: 20px 0;
    display: block;
    text-align: center;
    line-height: 29px;
}
.jcbpage {
  background: url(img/jcb1.jpg);
    min-height: 100vh;
    position: relative;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 80% center;
    overflow: hidden;
}
section.jcbpage .box-sign {
    margin-top: 119px;
    padding:36px 24px 49px 71px;
}
section.jcbpage .box-sign .content p {
  height: 54px;
}
.center {
    text-align: center;
}
section.home-page.find-page .box-sign .form-control {
    font-size: 24px;
}
/*comoonpage */
.left-side-div {
  background: #353535 0% 0% no-repeat padding-box;
  opacity: 1;
  min-height: 100vh;
}
section.comoonpage .width-100 .left-side-div {
  padding: 155px 156.51px 90px 108px;
}
.main-page-content {
    height: 100%; 
}
section.comoonpage .width-100 {
  width: 100%;
  display: inline-flex;
  background: url(img/car1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 100%;
}
section.comoonpage .width-100 .left-side-div {
    width: 845px;
    position: relative;
}
section.comoonpage .width-100 .right-side-div {
    width: 1075px;
}
.comoonpage select, .comoonpage .form-control {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 0 15px;
    height: 55.55px;
    font-size: 15px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    font-family: "Roboto-Regular";
}
section.comoonpage .width-100 .left-side-div .form-group {
  margin-bottom: 9.45px;
}
section.comoonpage .width-100 .left-side-div .form-group.txt-area {
    margin-top: 37.45px;
}
section.comoonpage .width-100 .left-side-div button.yellow-button {
  margin: 100px;
}
section.comoonpage .width-100 .left-side-div button.yellow-button {
    margin: 110px 0 38px;
    width: 305px;
    height: 85px;
}
.comoonpage textarea.text-area-box {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 0 15px;
  height: 94.55px;
  resize: none;
  font-size: 15px;
}
.comoonpage .requaried-text {
    color: #FFF;
    float: right;
}
.comoonpage .requaried-text:after {
  clear: both;
}
.comoonpage .copyright {
  text-align: right;
  padding-right: 59px;
}
section.comoonpage label {
    font-size: 15px;
    font-family: "Roboto-Regular";
    margin-bottom: 9px;
    font-weight: normal;
    line-height: initial;
    width: 100%;
}
/*screen 12*/
.main-page-loader {
    height: 100%;
    position: relative;
    background-color: #FFFFFF;
}
.main-page-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-page-content-0 {
  padding:117px 133px 0 82px;
}
.search-complete p.search-txt {
  color: #81D243;
  font-size: 20px;
  font-family: 'MuseoSans-500';
  margin-bottom: 14px;
}
.search-complete h1.heading-1 {
  color: #353535;
  font-size: 72px;
  line-height: 87px;
  font-family: 'MuseoSans-500';
}
.search-complete p.para {
  font-size: 15px;
  font-family: 'Roboto-Regular';
}
.button-search {
    background-color: #353535;
    color: #FFF;
    width: 305px;
    height: 85px;
    font-size: 24px;
    font-family: 'Roboto-Medium';
    border: 2px solid #353535;
        -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.button-search1 {
    background-color: transparent;
    color: #353535;
    width: 398px;
    height: 85px;
    font-size: 24px;
    font-family: 'Roboto-Medium';
    border: 2px solid #353535;
    margin-left: 22px;
        -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.button-search a {
  color: #FFFFFF;
}
.button-search1 a {
  color: #353535;
}
.button-div {
    margin: 69px 0;
}
.button-search1:hover {
  background-color: #353535;
  color: #FFFFFF;
}
.button-search1:hover a {
  color: #FFFFFF;
}
.button-search:hover {
  background-color: transparent;
  color: #353535;
}
.button-search:hover a {
  color: #353535;
}
.search-complete-bottom {
  width: 100%;
  display: inline-flex;
  margin: 253px 0 0;
}
.search-complete-bottom p {
    color: #353535;
    font-size: 15px;
    font-family: Roboto-Regular;
    padding-left: 16px;
    padding-right: 236px;
    line-height: 18px;
    align-self: flex-end;
    margin-bottom: 10px;
    width: 100%;
}
.search-complete-bottom img {
    width: 63px;
    height: 63px;
}
.search-complete h1.heading-2 {
  color: #81D243;
  text-align: left;
  margin-bottom: 6px;
  font-family: "Roboto-Medium";
  margin-top: 0;
  line-height: 29px;
}
p.para-0 {
    font-size: 15px;
    color: #353535;
    font-family: "Roboto-Regular";
    line-height: 18px;
    margin-bottom: 0;
}
.main-page-content-0.screen-5 .button-div {
    margin: 87px 0 0;
}
.main-page-content-0.screen-5 .search-complete-bottom {
    margin: 214px 0 0;
}
.main-page-content-0.screen-6 .button-div {
    margin: 87px 0 0;
}
.main-page-content-0.screen-6 .search-complete-bottom {
    margin: 214px 0 0;
}
.main-page-content-0.screen-5 h1.heading-1, .main-page-content-0.screen-6 .search-complete h1.heading-1 {
    margin-bottom: 23px;
}
.screen-2, .screen-3, .screen-4, .screen-5, .screen-6 {
  background-color: #FFFFFF;
  height: 100%;
}
.select-custom {
  position: relative;
}
.select-custom:after {
  content: "\f107";
  font-family: fontAwesome;
  color: #FFFFFF;
  position: absolute;
  right: 20px;
  top: 16px;
  font-size: 20px;
  line-height: 20px;
}
/*comoon page css end*/
.tavh1, .tavh2, .tavh3 {
    width: 352.22px;
}
.tavh4, .tavh5 {
  width: 178px;
}
.tavh6 {
  width: 256px
}
.search-history-page .dropdown-toggle::after, .dropdown-toggle::after {
  content: "\f107";
  font-family: fontAwesome;
  color: #FFFFFF;
  position: absolute;
  right: 20px;
  top: 9px;
  font-size: 20px;
  line-height: 20px;
  border: 0;
}
.find-page .box-sign {
    width: 927px;
    margin: 140px auto 0;
    background-color: transparent;
    padding: 0;
}
.home-page .btn.btn-primary.btn-sm:hover {
  color: #FFFFFF;
  border: 2px solid #0E0E0E;
  background-color: transparent;
}
section.home-page.profile-change-page button.yellow-button {
    margin-bottom: 40px;
}
section.reset-password .name-slod .form-group {
  padding:0;
}
.dropdown-menu.show {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.pagination {
  display: inline-block;
  margin:0;
      font-size: 15px;
    font-family: Roboto-Regular;
}
.pagination>li>a, .pagination>li>span {
  padding: 0;
}

.pagination a {
  color: black;
  float: left;
  text-decoration: none;
  font-size: 18px;
}
.pagination li {
    display: inline-flex;
}
.toolbar[_ngcontent-phj-c0] img[_ngcontent-phj-c0] {
  width: 50px;
}
.toolbar {
  min-height: 122px;
  height: auto;
  margin:0;
  background-color: #34495E;
  padding: 10px 30px 0;
}
.nav.navbar-nav.collapse {
  left: 0;width: 100%;margin: 0;
  background-color: #34495E;
  z-index: 999;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-item.active, .dropdown-item:active, .nav .open>a, .nav-item.dropdown #navbarDropdownMenuLink:hover, .nav-item.dropdown #navbarDropdownMenuLink:focus {
  background-color: transparent !important;
}
a.navbar-brand:hover {
    color: #e1cb01;
}
.toolbar div#navbarSupportedContent {
    display: inline-flex;
    width: 100%;
    height: 100%;
}
.toolbar ul.navbar-nav {
    display: inline-block;
    margin-top:27px;
}
.toolbar .nav-item.dropdown {
  margin-top: 5px;
  width: 300px;
  text-align: center;
}
.toolbar li.nav-item {
    display: inline-block;
    padding: 0 55px;
    border-bottom: 12px solid transparent;
}
.toolbar button.navbar-toggler {
    display: none;
}
a.navbar-brand {
    font-size: 36px;
    font-family: 'MuseoSans-500';
    height: auto;
    line-height: 43px;
}
.toolbar div#navbarSupportedContent ul li a, a.navbar-brand {
  color: #FFFFFF;
  padding:0;
}
.toolbar div#navbarSupportedContent ul li a {
  font-size: 18px;
  font-family: 'MuseoSans-300';
}
.dropdown-menu.show a.dropdown-item {
  color: #353535;
}
.header-logoinn {
    text-align: center;
    padding: 37px 0;
}
img.logo-image1 {
    width: 90px;
    height: 108px;
    margin: -40px 25px 0 0;
}
.header-logoinn h3.logotext {
    font-size: 72px;
    font-family: 'MuseoSans-500';
    color: #FFF;
    margin: 0;
    line-height: 87px;
}
.custom-control.custom-checkbox .custom-control-label a {
    text-decoration: underline;
}
#navbarDropdownMenuLink ~ .open>.dropdown-menu {}
.toolbar li.nav-item .nav-link {
 font-size: 30px;
 font-family: 'Roboto-Regular';
 color: #FFFFFF;
    margin-top: 4px;
    margin-bottom: 2px;
}
.toolbar #myNavbar-0 .nav>li>a:focus, .toolbar #myNavbar-0 .nav>li>a:hover {
 background-color: transparent;
}
.toolbar #myNavbar-0 {
 width: 85%;
 display: inline-block;
     padding: 0px 0 0 34px;
}
.navbar>.container-fluid .navbar-brand {
 margin: 0;
 float: unset;
}
.navbar .container-fluid {
 display: block;
 padding:0;
}
.toolbar ul.navbar-nav {
 margin:0;
 padding:0;
}
.navbar-toggle .icon-bar {
 background-color: #FFFFFF
;
}
nav.navbar {
   width: 100%;
   margin: 34px 0 0;
}
.navbar-brand {
 float: unset;
}
.home-page-heading-search {}
.yellow-button a:hover {
 color: #E1CC00
;
 text-decoration: none;
}
.yellow-button:hover a {
 color: #E1CC00
;
}
.navbar>.container-fluid a.navbar-brand {
  margin: 0;
  color: #FFF;
}
.find-page .box-sign .form-group {
    margin-bottom: 0;
}
section.reseton-password-page .box-sign {
    padding-right: 33px;
    margin-top: 72px;
}
section.login-page .box-sign {
    padding-bottom: 17px;
}
section.registration-page .box-sign {
    margin-top: 75.5px;
    padding-bottom: 30px;
}
.logo-image {
  width:48px; 
  height: 57px;
  margin:-33px 15px 0px 0;
}
h1.history-empty {
    margin: 20px 0;
    text-align: center;
    font-family: 'MuseoSans-500';
}
section.home-page.find-page.homepage-login .box-sign {
    margin-top: 175px;
}
section.home-page.find-page {
  background: url(img/car-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.home-page.find-page.homepage-login {
  background-position: bottom;
}
.box-signon.profilechange.resetpasswordfields .box-sign {
    min-height: 802px;
}
/*loader*/
.loader-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.loader-div h3 {
  font-family: Roboto-Regular;
  font-size: 24px;
  margin: 21.21px 0 0;
  color: #353535;
  line-height: 29px;
}
.loader {
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #707070;
  width: 116px;
  height: 116px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*loader end*/
.side-page-content form, .side-page-content form .select-custom:after {
   color: #353535;
}
.pagination span.number-0 {
    line-height: 20px;
    vertical-align: text-bottom;
}
.div-tab {
    width: 100%;
    display: inline-flex;
}
.div-tab-00 {
    width: 27%;
    display: inline-flex;
}
.div-tab1 {
    width: 73%;
}
.div-tab2 {
    width: 40%;
}
.div-tab3 {
    width: 60%;
}
.login-page .forg {
    float: right;
    width: 50%;
    text-align: right;
}
.d-flex.justify-content-between {
    display: inline-flex;
    width: 100%;
}
.find-page .d-flex.justify-content-between div {
  width: 50%;
}
.forg-0 a {
    font-family: "Roboto-Medium";
    font-size: 18px;
    cursor: pointer;
}
.forg-0 {
    text-align: right;
    margin-top: 20px;
}
.invalid-feedback {
    color: #d53241;
    font-size: 12px;
    font-family: Roboto-Regular;
    margin-top: 5px;
}
.search-history-page .arrowscr .arrow ul.pagination li a:hover {
  color: black;
}
.profilechange .box-sign .form-group.country-resi select, .side-page-content form option {
    font-size: 20px;
    font-family: "Roboto-Regular";
}
.inline-0 {
   display: flex;
}
label.error-0 {
   color: #d53241;
   margin-left: 27px;
}
section.comoonpage .inline-0 label {
   width: auto;
}
.profilechange .box-sign .form-group label.country-req {
  color: #d53241;
  margin-top: 10px;
  font-size: 12px;
}
.form-control.mmm {
    width: 76.98%;
        display: inline;
}

/*
/media query/
*/
@media(max-width: 1680px) and (min-width: 1600px) {
  .button-search1 {
    width: 350px;
  }
}
@media(max-width: 1600px) and (min-width: 1366px) {
  .button-search1 {
    width: 360px;
  }
  .button-search {
    width: 260px;
  }
  .toolbar #myNavbar-0 {
    width: 80%;
  }
}

@media(max-width: 1366px) {
 .box-sign {
   width: 500px;
 }
 .find-page .box-sign .yellow-button {
  width: 220px;
 }
 .find-page .box-sign {
   width: 650px;
   margin-top:90px;
 }
 .header-logoinn h3.logotext {
   font-size: 50px;
 }
 div#toast-container {width: 320px;height:60px;top:150px;}
  .toast-container .ngx-toastr {height:60px;}
  .toast-message {font-size:20px;}
 img.logo-image1 {
    width: 50px;
    height: 65px;
    margin: -30px 25px 0 0;
  }
  .header-logoinn {
    padding: 15px 0;
  }
 .heading-1, .find-page .box-sign .heading-1 {
   font-size: 30px;
   margin-bottom: 20px;
 }
 .yellow-button {
   font-size: 20px
 }
 .login-page .forg a {
   font-size: 16px
 }
 .copyright {
   font-size: 20px;
 }
 .home-page .box-sign .form-control, .yellow-button, .home-page .btn.btn-primary.btn-sm,
 .login-page input, input#exampleInputEmail1, .registration-page .form-control, .forgotpassword-page .form-control,
 .comoonpage select, .comoonpage .form-control, .button-search, .button-search1, .find-page .box-sign .yellow-button, .profilechange .box-sign .form-group.country-resi select {
   height: 50px;
 }
 nav.navbar {
   margin: 10px 0 0;
 }
 .toolbar {
   min-height: 90px;
   height: auto;
 }
 .toolbar #myNavbar-0 {
  width:80%;
 }
 .home-page .btn.btn-primary.btn-sm {
  top:30%;
 }
 .navbar .container-fluid {
  padding: 15px 0 0;
 }
 section.forgotpasswordreq-page .yellow-button {
  margin-top: 20px;
 }
 .home-page .btn.btn-primary.btn-sm {
    width: 205px;
 }
 .home-page .btn.btn-primary.btn-sm a, .login-page .register .account a, .login-page .register .account1 {
  font-size: 20px;
 }
 .registration-page .custom-control.custom-checkbox .custom-control-label::after, .registration-page .custom-control.custom-checkbox .custom-control-label::before {
    margin: 4px 0 0;
    width: 20px;
    height: 20px;
  }
  .main-page-content-0 {
    padding: 50px 80px 0 40px;
  }
  .search-complete h1.heading-1 {
    font-size: 50px;
    line-height: 50px;
  }
  button.button-search, button.button-search1 {
    width: 280px;
    font-size: 18px;
  }
  section.comoonpage .width-100 .left-side-div button.yellow-button {
    margin:20px 0;
    height: 60px;
    width: 230px;
  }
  .search-complete-bottom {
    margin: 150px 0 0;
  }
  section.search-history-page {
    padding: 0 30px;
  }
  .pagination>li>a, .pagination>li>span {
    padding: 0;
  }
  section.comoonpage .width-100 .left-side-div {
    padding: 60px 100.51px 50px 60px;
  }
  .find-page .d-flex.justify-content-between div {
    width: 46%;
  }
  .profile-change-page {
    background-position: center;
  }
  .jcbpage {
    background-position: center;
  }
  .search-complete-bottom p {
    padding-right: 0;
  }
  .form-control.mmm {
    width: 74.98%;
  }
  .input-duble .form-control:first-child {
    padding: 0 5px;
  }
}



@media(max-width: 1345px) and (min-width: 1025px) {
  .comoonpage button.button-search, button.button-search1 {
      width: 270px;
  }
  .input-duble .form-control:first-child {
    width: 23.238%;
  }
  .search-complete-bottom p {
    padding-right: 0;
  }
  .form-control.mmm {
    width: 71.98%;
  }
}

@media(max-width: 1175px) and (min-width: 1024px) {
  .toolbar #myNavbar-0 {
    width: 75%;
  }
}

@media(max-width: 1024px) and (min-width: 991px) {
  .side-page-content {
    min-height: 100vh;
  }
  .side-page-content {
    padding-bottom: 26px;
  }
  button.button-search1 {
    margin: 20px 0 0;
  }
  button.button-search1, button.button-search {width: 340px;}
  section.comoonpage .width-100 .left-side-div {
    width: 40%;
    padding: 50px 40px 40px 40px;
  }
  .comoonpage .copyright {
    padding: 0;
    text-align: center;
  }
  section.comoonpage .width-100 .right-side-div {
    width: 60%;
  }
  .toolbar li.nav-item {
    padding: 0 30px;
  }
  .toolbar #myNavbar-0 {
    width: 75%;
  }
  .logo-image {
    margin: -25px 15px 0px 0;
  }
  section.comoonpage .width-100 .left-side-div button.yellow-button {
    width: 100%;
  }
  .search-history-page .fa-chevron-left:before {
    margin-right: 5px;
  }
  .search-history-page .datatable .filter .fa-chevron-right:before {
    margin-left: 5px;
  }
  .pagination>li>a, .pagination>li>span {
    padding:0;
  }
  .search-history-page .datatable .filter, .search-history-page .datatable .numsearch {
    padding: 15px 0 0;
  }
  .search-history-page .col-md-2 {
    padding: 20px 15px 0;
  }
  section.search-history-page {
    padding: 0 30px;
  }
  .profile-change-page {
        background-position: center;
  }
  .input-duble .form-control:first-child {
    width: 23.338%;
  }
  .search-complete-bottom p {
    padding-right: 0;
  }
  .form-control.mmm {
    width: 72.4%;
  }
  div#toast-container {
    top: 120px;
  }
}

@media(max-width: 991px) {
 .login-page .header-logoinn .logotext {
   font-size: 36px;
 }
 .box-signon.profilechange.resetpasswordfields .box-sign {
  min-height: auto;
 }
 section.home-page.find-page .box-sign .form-control {
    font-size: 20px;
  }
 .heading-1 {
   font-size: 24px;
 }
 .yellow-button, .yellow-button a, .home-page .btn.btn-primary.btn-sm a, .profilechange .box-sign .center .btn a {
   font-size: 16px
 }
 .login-page .forg a {
   font-size: 14px
 }
 .copyright, .search-complete p.search-txt, .login-page .register .account a, .login-page .register .account1 {
   font-size: 16px;
 }
 .home-page .box-sign .form-control, .yellow-button, .login-page input, input#exampleInputEmail1, .registration-page .form-control, .forgotpassword-page .form-control,
 .comoonpage select, .comoonpage .form-control,/* .button-search, .button-search1,*/ .profilechange .box-sign .form-group.country-resi select {
   height: 40px;
 }
 .profilechange .box-sign .form-group.country-resi .select-custom:after {
    top:12px;
 }
 h1.heading-2, .register1-page .Check a {
   font-size: 20px;
 }
 .box-sign, .find-page .box-sign {
   width: 500px;
 }
 nav.navbar {
   margin: 12px 0 0;
   padding:0;
 }
 .toolbar {
   min-height: 80px;
 }
 .toolbar #myNavbar-0 {
   padding:0 15px;
   width: auto;
 }
 .toolbar .nav-item.dropdown {
   width: 294px;
 }
 section.forgotpasswordreq-page .yellow-button {
  margin-top: 20px;
 }
 .home-page .btn.btn-primary.btn-sm {
    width: 205px;
    top:20%;
    font-size: 18px;
 }
  section.comoonpage .width-100 .left-side-div button.yellow-button {
    margin:20px 0;
    width: 100%;
    height: 50px;
  }
  .comoonpage .copyright {
    text-align: center;
    padding-right: 0;
  }
  .side-page-content {
    min-height: 100vh;
  }
  section.comoonpage .width-100 .left-side-div {
    width: 40%;
    padding: 50px 20px 20px 20px;
  }
  section.comoonpage .width-100 .right-side-div {
    width: 60%;
  }
  .main-page-content-0 {
    padding: 50px 20px 0 20px;
  }
  .search-complete h1.heading-1 {
    font-size: 45px;
    line-height: 50px;
  }
  .button-div, .main-page-content-0.screen-6 .button-div {
    margin:40px 0;
  }
  .button-div .button-search, .button-div .button-search1 {
    font-size: 18px;
    width: 305px;
    margin: 0;
  }
  .button-div .button-search1 {
    margin: 20px 0 0;
  }
  .toolbar li.nav-item {
    padding: 0 20px;
    border-bottom: 8px solid transparent;
  }
  .toolbar li.nav-item:hover {
    border-bottom: 8px solid #FFFFFF;
  }
  .toast-container .ngx-toastr {
    font-size: 20px !important;
    padding: 5px 0;
    line-height: 20px;
    height: 50px;
  }
  .toast-message {
    font-size: 20px !important;
    padding: 5px 0;
    line-height: 20px;
  }
   .toast-message {
    padding:0;
   }
  div#toast-container {
    width: 320px;
    height: 50px;
    top:120px;
  }
  .find-page .box-sign .yellow-button {
    width: 205px;
  }
  .pagination>li>a, .pagination>li>span {
    padding: 0;
  }
  .search-history-page .datatable .filter, .search-history-page .datatable .numsearch {
    padding: 15px 0 0;
  }
  .search-history-page .fa-chevron-left:before {
    margin-right: 5px;
    font-size: 18px;
  }
  .search-history-page .arrow .fa-chevron-left:before, .search-history-page .fa-chevron-right:before {
    font-size: 20px;
  }
  .search-history-page .datatable .filter .fa-chevron-right:before {
    margin-left: 5px;
    font-size: 18px;
  }
  section.search-history-page {
    padding: 0 30px;
  }
  .input-duble .form-control:first-child {
    width: 23.238%;
    padding: 0;
  }
  .side-page-content form option {
    font-size: 15px;
    font-family: "Roboto-Regular";
  }

  .div-tab1 {
    width: 65%;
  }
  .div-tab-00 {
    width: 35%;
  }
  .profile-change-page {
        background-position: center;
  }
  .toast-container .ngx-toastr {
    display: block;
  }
  .search-complete-bottom p{
    padding-right: 0;
  }
  .form-control.mmm {
    width: 72.58%;
  }
}

@media(max-width: 767px) {
 section.comoonpage .width-100 .col-md-5, section.comoonpage .width-100 .col-md-7 {
   width: 100%;
   padding:0;
 }
 .jcbpage h1.heading-2 {
  margin: 20px 0 0;
 }
 section.comoonpage .width-100 {
   display: block;
   background: transparent;
 }
 .main-page-content {
    background: url(img/car1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 100%; 
}
 .comoonpage .copyright {
   position: static;
   margin-top: 0;
   margin-bottom: 20px;
   text-align: center;
   padding:0;
 }
 .comoonpage .butt {
   text-align: center;
 }
 .screen-1, .screen-2, .screen-3, .screen-4, .screen-5, .screen-6 {
   min-height: 100vh;
 }
 .toolbar .show#myNavbar-0 {
    opacity: 1;
    visibility: visible;
    top: 80px;
    margin-top:0;
    margin-bottom: 0;
}
 .search-history-page .navbar, .navbar {
   padding:0;
 }
 .toolbar {
   min-height: auto;padding: 0px;
 }
 nav.navbar {
    margin: 0;
    padding: 15px 0;
}
.navbar .container-fluid {
  padding: 0;
}

a.navbar-brand {font-size: 24px;}
 .toolbar .nav-item.dropdown {
   margin-bottom: 20px;
 }
 .nav-item.dropdown #navbarDropdownMenuLink {
   text-align: left;
   padding:0 20px;
  
 }
 .toolbar .navbar-toggle {
   margin:5px 0 0 0;
   border:1px solid #FFFFFF;
 }
 .toolbar .container-fluid>.navbar-header {
   margin:0;
   padding: 0 15px;
 }
 .nav-item.dropdown{
     
 }
 .nav-item.dropdown #navbarDropdownMenuLink ~ .dropdown-menu {
   padding: 0 30px;
   background-color: transparent;
   box-shadow: none;
   border: none;
   display: none;
   -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
 }

 .dropdown-menu.show a.dropdown-item {
  color: #FFF;
  padding: 5px 40px;
 }
 section.forgotpasswordreq-page .yellow-button {
  margin-top: 20px;
 }
 .box-sign .form-group {
  margin-bottom: 20px;
 }
 section.comoonpage .width-100 .left-side-div, section.comoonpage .width-100 .right-side-div {
    width: 100%;
  }
  section.comoonpage .width-100 .left-side-div button.yellow-button, .button-div, .main-page-content-0.screen-5 .button-div, .main-page-content-0.screen-6 .button-div {
    margin:20px 0;
  }
  .main-page-content-0 {
    padding:20px;
  }
  .search-complete h1.heading-1 {
    font-size: 40px;
    line-height: 44px;
  }
  .button-search1 {
    margin: 10px 0 0;
    width: 100%;
    font-size: 18px;
  }
  .button-search {
    width: 100%;
    font-size: 18px;
  }
  .search-complete-bottom img {
    width: 50px;
    height: 50px;
  }
  .search-complete-bottom, .main-page-content-0.screen-5 .search-complete-bottom, .main-page-content-0.screen-6 .search-complete-bottom {
    margin: 100px 0 0;
  }
  section.home-page.find-page .box-sign .form-control {
    font-size: 18px;
  }
  .login-page .forg {
    height: 30px;
  }
  .search-complete-bottom p{
    padding-right: 0;
  }
}



@media(max-width: 767px) {
 .find-page .box-sign .yellow-button, .home-page .box-sign .form-control, .yellow-button, .home-page .btn.btn-primary.btn-sm, .login-page input, input#exampleInputEmail1, .registration-page .form-control, .forgotpassword-page .form-control, .comoonpage select, .comoonpage .form-control, .button-search, .button-search1, section.comoonpage .width-100 .left-side-div button.yellow-button, 
 .profilechange .box-sign .form-group.country-resi select, section.jcbpage .profilechange .box-sign .center .btn {
   height: 50px;
 }
 section.comoonpage .width-100 .left-side-div button.yellow-button, .comoonpage button.button-search, .button-div .button-search1 {
  width: 100%;
 }
 section.jcbpage .profilechange .box-sign .center .btn {
  margin:20px 0 0;
 }
 .box-sign, .find-page .box-sign, section.home-page.find-page.homepage-login .box-sign, .forgotpassword-page .box-sign {
   width: 100%;
   margin-top: 50px;
   padding: 20px 20px;
 }
 section.jcbpage .box-signon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
 .box-signon.profilechange.resetpasswordfields, section.jcbpage .box-sign {
  margin: 0;
 }
 section.jcbpage .box-sign {
  padding: 20px;
 }
 .box-signon {
   padding: 0 15px;
 }
 .heading-1, .home-page .heading-1, .find-page .box-sign .heading-1, .search-history-page .datatable .yosearch {
   margin:0 0 20px;
 }
 
 .home-page .forg {
   margin: 0 0 10px;
 }
 .home-page .btn.btn-primary.btn-sm {
   right: 15px;
   font-size: 16px;
 }
 .home-page .btn.btn-primary.btn-sm a {
  font-size: 16px;
 }
 .find-page .box-sign .yellow-button {
  width:205px;
 }
 .header-logoinn h3.logotext {
    font-size: 40px;
    line-height: 60px;
}
section.home-page.find-page .btn.btn-primary.btn-sm {
  position: static;
  margin: 15px auto;
      display: flex;
    align-items: center;
    justify-content: center;
}
section.home-page.find-page .box-signon {
    padding-top: 20px;
}
.home-page .btn.btn-primary.btn-sm {
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 16px;
    width: 205px;
}
.home-page .btn.btn-primary.btn-sm a {
  font-size: 16px;
}
.registration-page .custom-control.custom-checkbox .custom-control-label::after, .registration-page .custom-control.custom-checkbox .custom-control-label::before {
  width: 14px;
  height: 14px;
  margin:0;
  border-radius: 4px;
}
.registration-page .custom-control.custom-checkbox label.custom-control-label {
  padding: 0 0 0 10px;
}
p.check-mail {
    font-size: 20px;
  }
  .nav-item.dropdown #navbarDropdownMenuLink ~ .dropdown-menu.show {
    width: 150px;
    position: relative;
  }
  .nav.navbar-nav.collapse {
    position: absolute;
  }
  .search-history-page .datatable .filter, .search-history-page .datatable .numsearch, .pagination>li>a, .pagination>li>span {
    padding: 0;
  }
  .search-history-page .container-fluid {
    padding: 0 15px;
  }
  .search-history-page .table tbody td:first-child, .search-history-page .table thead th:first-child {
    padding:0 0 0 50%;
  }
  .forgotpasswordreq-page .fa-arrow-left:before {
   left: 15px;
   bottom: -10px;
     font-size: 22px;
  }
  img.logo-image1 {
     width: 45px;
     height: 60px;
     margin: -15px 15px 0 0;
  }
  .header-logoinn {
     text-align: center;
     padding: 10px 0;
  }
  section.registration-page .box-sign, section.reset-password-page .box-sign, .box-sign.confirmregistration, section.reseton-password-page .box-sign {
      margin-top:50px;
  }
  section.reseton-password-page .center {
      padding-right:0;
  }
  .logo-image {
    margin: -5px 15px 0px 0;
  }
  div#toast-container {
    width: 280px;
    top: 83px;
    right: 15px;
    height: auto;
  }
  .toast-container .ngx-toastr, .toast-message {
    font-size: 16px;
    line-height: 29px;
    padding: 0;
  }
  .toast-container .ngx-toastr {
    padding: 10px 0px 10px 30px !important;
        background-size: 16px !important; 
  }
  .box-signon.profilechange.resetpasswordfields .box-sign {
    min-height: 500px;
  }
  .toolbar ul.navbar-nav {
    display: grid;
    padding: 0 15px;
  }
  .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
  }
  .toolbar .show#myNavbar-0 {
    width: 100%;
    top: 78px;
    margin: 0;
    padding: 0;
  }
  .loader-div h3 {
    font-size: 18px;
  }
  .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #707070;
    width: 100px;
    height: 100px;
  }
  section.comoonpage label {
    font-size: 14px;
  }
  .search-history-page .col-md-2 {
    padding: 0 15px;
    margin:5px 0;
  }
  .search-history-page .fa-chevron-left:before {
    padding-right: 5px;
  }
  .search-history-page .datatable .filter .fa-chevron-right:before {
    padding-left: 5px;
  }
  .tavh4, .tavh5, .tavh6, .search-history-page .table thead th {
    width: 100%;
  }
  section.search-history-page {
    padding: 0 15px;
  }
  .search-history-page .datatable .filter, .search-history-page .datatable .numsearch {
    text-align: right;
  }
  .input-duble .form-control:first-child {
    padding: 0;
    width: 22.238%;
  }
  .div-tab {
    display: block;
  }
  .div-tab1, .div-tab-00 {
    width: 100%;
  }
  .pagination span.number-0 {
    vertical-align: top;
  }
  section.home-page.find-page .d-flex.justify-content-between {
    display: block !important;
  }
  .d-flex.justify-content-between div.forg-0 {
    width: 100%;
    line-height: 40px;
    margin-top: 0;
  }
  .search-history-page .table tbody td {
    font-size: 13px;
  }
  .search-history-page .table thead th, .search-history-page .table tbody td {
    padding: 0;
  }
}


@media(max-width: 320px) {
  section.search-history-page .table td {
    padding-left: 60% !important;
  }
  .search-history-page .table thead th, .search-history-page .table tbody td, .search-history-page .table tbody td:first-child, .search-history-page .table thead th:first-child {
        padding: 0 5px 0 0;
    word-break: break-all;
  }
  .right-head-navbar.dropdown:after {
    right: 80px;
  }
  section.home-page.profile-change-page .box-sign {
    padding-bottom: 30px;
  }
  .form-control.mmm {
    width: 71.58%;
  }
}


/*
.toast-success.ngx-toastr {font-size: 0;}
.toast-success.ngx-toastr::after {
    content: 'Profile Updated';
    font-size: 24px;
    display: flex;align-items: center;justify-content: center;height: 100%;}*/