<!--registration-page-->
<section class="registration-page">
    <div class="hrrbox">
        <div class="header-logoinn">

            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>
        <div class="box-signon">
            <div class="box-sign">
            	<div class="boxon-sign">
                <h1 class="heading-1">Create an account</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit_reg()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First name</label>
      <input type="text" class="form-control" id="inputEmail4" [ngClass]="{ 'is-invalid': submitted && f.inputEmail4.errors }" formControlName="inputEmail4" name="inputEmail4" pattern="[a-zA-Z]+" ng-pattern-restrict>
           <div *ngIf="submitted && f.inputEmail4.errors" class="invalid-feedback">
                <div *ngIf="f.inputEmail4.errors.required">First Name is required</div>
                <div *ngIf="f.inputEmail4.errors.pattern">Only alphabets allowed.</div>
               <!--  <div *ngIf="f.inputEmail4.errors.minlength">Name must be at least 4 characters long.
                </div> -->
            </div>

    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last name</label>
      <input type="text" class="form-control" id="inputPassword4" [ngClass]="{ 'is-invalid': submitted && f.inputPassword4.errors }" formControlName="inputPassword4" name="inputPassword4" pattern="[a-zA-Z]+" ng-pattern-restrict>
       <div *ngIf="submitted && f.inputPassword4.errors" class="invalid-feedback">
                <div *ngIf="f.inputPassword4.errors.required">Last Name is required</div>
                <div *ngIf="f.inputPassword4.errors.pattern">Only alphabets allowed.</div>
            </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Email</label>
    <input type="text" class="form-control" id="inputAddress" [ngClass]="{ 'is-invalid': submitted && f.inputAddress.errors }" formControlName="inputAddress" name="inputAddress" pattern="[A-Za-z0-9._%+-]{1,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
     <div *ngIf="submitted && f.inputAddress.errors" class="invalid-feedback">
                <div *ngIf="f.inputAddress.errors.required">Email is required</div>
                <div *ngIf="f.inputAddress.errors.pattern">Invalid email</div>
            </div>
  </div>
<h5 class="requir-on">Password requirements:</h5>

  <div class="form-group">
    <label for="inputAddress2">Password</label>
    <input type="password" class="form-control" id="inputAddress2" [ngClass]="{ 'is-invalid': submitted && f.inputAddress2.errors }" formControlName="inputAddress2" name="inputAddress2" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$">
    <div *ngIf="submitted && f.inputAddress2.errors" class="invalid-feedback">
                <div *ngIf="f.inputAddress2.errors.required">Password is required</div>
                <!-- <div *ngIf="f.inputAddress2.errors.minlength">Password must be at least 8 characters long.
                </div> -->
                 <div *ngIf="f.inputAddress2.errors.pattern">Password must be at least 8 character, including UPPERCASE/lowercase/Special character and numbers.</div>
                
            </div>
  </div>
  
<div class="form-group">
    <label for="inputAddress3">Password confirm</label>
    <input type="password" class="form-control" id="inputAddress3" [ngClass]="{ 'is-invalid': submitted && f.inputAddress3.errors }" formControlName="inputAddress3" name="inputAddress3">
     <div class="error-msg" *ngIf="this.f.inputAddress2.value !== this.f.inputAddress3.value">
       <div *ngIf="submitted ">
    <p class="invalid-feedback">Passwords don't match.</p></div>
    </div>
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="customCheck" name="customCheck" [ngClass]="{ 'is-invalid': submitted && f.customCheck.errors }" formControlName="customCheck" name="customCheck" >
      <label class="custom-control-label" for="customCheck">I agree with the <a href="#">terms of use</a> and <a href="#">privacy statement</a></label>

        <!-- <div *ngIf="submitted && f.customCheck.errors "  >
                <div *ngIf="f.customCheck.errors.required" style="color: red">Please select terms and conditions.</div>
        </div> -->
          <div *ngIf="submitted && !(f.customCheck.value)" class="invalid-feedback">Please select terms and conditions.</div>
    </div>
  </div>
  <div class="center">
  <!-- <button type="submit" [disabled]= "!registrationForm.valid" class="btn btn">Register</button>
   -->
   <div *ngIf="submitted" style="color: red">{{resonseError}}</div>
   <button type="submit" class="yellow-button" >Register</button>
</div>
</form>

                </div>
                

            </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>
