
<section class="comoonpage" >
        <!-- screen 5 design -->
        <div class="width-100">
            <div class="left-side-div">
                <div class="side-page-content">
                    <form [formGroup]="extendedSearchform" (ngSubmit)="onSubmit_search()">
                       <h1 class="heading-1">Find stolen objects online</h1>
                        <div class="form-group">
                            <label>VIN / HIN / Registration number / License Plate
                            <span class="requaried-text">*</span></label>
                            
                            <input type="text" class="form-control" id="searchText" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.searchText.errors }" formControlName="searchText" name="searchText">
                            <div *ngIf="submitted && f.searchText.errors" class="invalid-feedback">
                             <div *ngIf="f.searchText.errors.required">This field is required.</div>
                         </div>
                        </div>
                        <div class="form-group">
                            <div class="inline-0">
                                <label>Country of origin</label>
                               <!--  <label *ngIf="countryorigin_val==1" class="error-0">Add missing info</label> -->
                            </div>
                            <div class="select-custom">
                            <select (change)="selectOptionCountryorigin($event.target.value)"  style="-webkit-appearance: none;" >
                                    <option [value]="processTemplate.code" *ngFor="let processTemplate of country">{{processTemplate.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inline-0">
                                <label>Country of discovery</label>
                               <!--  <label *ngIf="countrydiscovery_val==1" class="error-0">Add missing info</label> -->
                            </div>
                            <div class="select-custom"> 
                                 <select (change)="selectOptionCountry($event.target.value)"  style="-webkit-appearance: none;" >
                                    <option [value]="processTemplate.code" *ngFor="let processTemplate of country">{{processTemplate.name}}</option>
                                </select>                                 
                            </div>
                            </div>
                        <div class="form-group txt-area">
                        <label>Notes</label>
                        <textarea class="text-area-box" name="searchNotes" id="searchNotes" formControlName="searchNotes"></textarea>
                        </div>
                        <div class="form-group butt">
                            <button type="submit" class="yellow-button">Check now</button>
                        </div>
                    </form>
                    <div class="copyright">
                        Brightmaven 2019
                    </div>
                </div>
            </div>


            <div class="right-side-div" >
                <div class="main-page-content screen-1"  *ngIf="this.not_found ==''">
                    &nbsp;
                </div>

                <!-- screen 12 -->
                <div class="main-page-loader screen-2" *ngIf="this.loader">
                
                    <div class="loader-div">
                       <div class="loader"></div>
                       <h3>Searching in networks</h3>
                   </div>
                </div>
                <!-- screen 13 -->
                <div class="main-page-content-0 screen-3" *ngIf="this.not_found ==404">
                    <div class="search-complete">
                        <p class="search-txt">Search complete</p>
                        <h1 class="heading-1">Object not found</h1>
                        <p class="para-0">
                            This object has not been identified as listed in the Sjerlok theft records.<br> Your request is forwarded to the Sjerlok partner network.
                        </p>
                    </div>
                    <div class="button-div">

                    <button class="button-search" (click)="load();">Try another search
                    </button>
                        <button class="button-search1" (click)="onGoToThankyou();">Forward to your own network?</button>
                    </div>
                    <div class="search-complete-bottom">
                        <img src="../../assets/img/user.png">
                        <p>
                            We strongly recommend that you take no individual action with regard to any vehicle listed on this site. Contact your local law enforcement or reporting agency.
                        </p>
                    </div>
                </div>
                <!-- screen 13 end-->
                <!-- screen 16 design -->
                <div class="main-page-content-0 screen-4" *ngIf="this.not_found == 3">
                    <div class="search-complete">
                        <p class="search-txt">Search complete</p>
                        <h1 class="heading-1">Object not found</h1>
                        <p class="para-0">
                            We would like to forward your request to our partners who might be able to find the owner. Unfortunately, we cannot forward your request yet, since you haven't filled in the country of origin and the country of discovery. Please modify your request, so we can help you finding the object's owner.
                        </p>
                    </div>
                    <div class="button-div">
                        <button type="submit" class="button-search" (click)="load();">Try another search</button>
                    </div>
                    <div class="search-complete-bottom">
                        <img src="../../assets/img/user.png">
                        <p>
                            We strongly recommend that you take no individual action with regard to any vehicle listed on this site. Contact your local law enforcement or reporting agency.
                        </p>
                    </div>
                </div>
                <!-- screen 16 design end-->
                <!-- screen 19 design -->
                <div class="main-page-content-0 screen-5"  *ngIf="this.not_found ==1">
                    <div class="search-complete">
                        <p class="search-txt">Search complete</p>
                        <h1 class="heading-1">This object is reported<br> as stolen!</h1>
                        <h1 class="heading-2">You are the first one to report this object</h1>
                        <p class="para-0">
                            Good job, but please be careful! We have sent you an email for further instructions.
                        </p>
                    </div>
                    <div class="button-div">
                    <button type="submit"  class="button-search" (click)="load();">
                        Try another search</button>
                    </div>
                    <div class="search-complete-bottom">
                        <img src="../../assets/img/user.png">
                        <p>
                            We strongly recommend that you take no individual action with regard to any vehicle listed on this site. Contact your local law enforcement or reporting agency.
                        </p>
                    </div>
                </div>
                <!-- screen 19 design end -->
                <!-- screen 22 design -->
                <div class="main-page-content-0 screen-6" *ngIf="this.not_found == 2" >
                    <div class="search-complete">
                        <p class="search-txt">Search complete</p>
                        <h1 class="heading-1">This object is reported<br> as stolen!</h1>
                        <h1 class="heading-2" style="color:#353535;">Sjerlok got at {{this.oldest_hit_datetime}} an earlier record of this object</h1>
                        <p class="para-0">
                            Good job, but please be careful! We have sent you an email for further instructions.
                        </p>
                    </div>
                    <div class="button-div">
                        <button type="submit" class="button-search" (click)="load();">Try another search</button>
                    </div>
                    <div class="search-complete-bottom">
                        <img src="../../assets/img/user.png">
                        <p>
                            We strongly recommend that you take no individual action with regard to any vehicle listed on this site. Contact your local law enforcement or reporting agency.
                        </p>
                    </div>
                </div>
                <!-- screen 22 design end -->
            </div>
        </div>
        <!-- screen 5 design done -->
</section>