
<section class="jcbpage">
        <div class="box-signon profilechange">
            <div class="box-sign">
                <div class="boxon-sign">    	
	                    <h1 class="heading-1">Thanks for your interest</h1>
	                    <div class="content">
	                    	<p>We have noted your interest in this functionality. At the moment this is still under construction. If you have any questions or suggestions, feel free to contact us at info@brigthmaven.com</p>
	                    </div>
	                    <div>
	                    	<h1 class="heading-2">We will keep you posted</h1>
	                    </div>
	                    <div class="center">
	                        <button type="submit" class="btn btn yellow-button" (click)="onGoToExtendedsearch();">New search</button>
	                    </div>
                </div>

            </div>
        </div>
        <div class="copyright text-center">Brightmaven 2019</div>
</section>