<!--home-page-->
<section class="home-page profile-change-page">
    <div class="hrrbox">
       <!--  <div class="header-logoinn">
            <h3 class="logotext">SJERLOK</h3>
        </div> -->

        <!-- <button *ngIf="popup">
        	<h1>test</h1>
        </button> -->
        
        <div class="box-signon profilechange resetpasswordfields">
            <div class="box-sign">
                <div class="boxon-sign">
                    <form [formGroup]="forgotpasswordfieldFrom" (ngSubmit)="onSubmit_forgotPasswordField()">                    	
	                    <h1 class="heading-1">Reset password</h1>
	                    <div class="form-content">
	                    	<div class="name-slod">
			                    <div class="form-group" style="padding:0;">
			                        <label>Current Password</label>
			                        <input type="password" class="form-control" id="currentpassword" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.currentpassword.errors }" formControlName="currentpassword" name="currentpassword" >
			                        <div *ngIf="submitted && f.currentpassword.errors" 
			                        class="invalid-feedback">
		                               <div *ngIf="f.currentpassword.errors.required">Current Password is required</div>
		                            </div>
			                    </div>
			                </div>
		                    <div class="form-group">
		                        <label>New Password</label>
		                        <input type="password" class="form-control" id="newPassword" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" formControlName="newPassword" name="newPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$">
			                         <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
			                             <div *ngIf="f.newPassword.errors.required">New Password is required</div>
			                             <div *ngIf="f.newPassword.errors.pattern">Password must be at least 8 character, including UPPERCASE/lowercase/Special character and numbers.</div>
			                         </div>
		                    </div>
		                    <div class="">
			                    <div class="form-group">
			                        <label>New Confirm Password</label>
			                        <input type="password" class="form-control" id="confirmPassword" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" formControlName="confirmPassword" name="confirmPassword" >
			                         <!-- <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
			                             <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
			                         </div> -->
			                         <div class="error-msg" *ngIf="this.f.newPassword.value !== this.f.confirmPassword.value">
                        <p style="color: #d53241; font-size: 13px;margin: 5px 0 0;">Passwords don't match.</p></div>
			                    </div>
			                </div>
			                <div class="center">
                            <!-- <a  class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Save</a> -->
                            <div *ngIf="submitted" style="color: red">{{resonseError}}</div>
                            <button type="submit" class="yellow-button">Save</button>
                        </div>
		                </div>
                	</form>

                </div>

            </div>
        </div>

        <div class="copyright text-center">Brightmaven 2019</div>
    </div>
</section>