<!--home-page-->
<section class="home-page profile-change-page">
    <div class="hrrbox">
        <div class="box-signon profilechange">
            <div class="box-sign">
                <div class="boxon-sign">
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit_profileForm()">                     	
	                    <h1 class="heading-1">Profile</h1>
	                    <div class="form-content">
	                    	<div class="name-slod">
		                    <div class="form-group">
		                        <label>First name</label>
		                        <input  formControlName="firstName" [(ngModel)]="firstname_val" type="text" class="form-control" id="firstName" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"  pattern="[a-zA-Z]+" ng-pattern-restrict>
		                        <div *ngIf="submitted && this.f.firstName.errors" class="invalid-feedback">
	                             <div *ngIf="this.f.firstName.errors.required">First Name is required</div>
	                             <div *ngIf="this.f.firstName.errors.pattern">Only alphabets allowed</div>	
                    			</div>
		                    </div>
		                    <div class="form-group">
		                        <div class="d-flex justify-content-between">
		                            <div>
		                                <label>Last name</label>
		                            </div>			                            
		                        </div>
		                        <input formControlName="lastName" [(ngModel)]="lastname_val" type="text" class="form-control" id="lastName" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" pattern="[a-zA-Z]+" ng-pattern-restrict>
		                        <div *ngIf="submitted && this.f.lastName.errors" class="invalid-feedback">
	                             <div *ngIf="this.f.lastName.errors.required">Last Name is required</div>
	                             <div *ngIf="this.f.lastName.errors.pattern">Only alphabets allowed</div>	
                    			</div>
		                    </div>
			                </div>
			                 <!-- <div class="form-group">
		                        <div class="d-flex justify-content-between">
		                            <div>
		                                <label>phone name</label>
		                            </div>			                            
		                        </div>
		                        <input formControlName="phone" [(ngModel)]="phone_val" type="text" class="form-control" id="phone" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" pattern="[a-zA-Z]+" ng-pattern-restrict>
		                        <div *ngIf="submitted && this.f.phone.errors" class="invalid-feedback">
	                             <div *ngIf="this.f.phone.errors.required">Last dsffds is required</div>
	                             <div *ngIf="this.f.phone.errors.pattern">Only sdfs allowed</div>	
                    			</div>
		                    </div> -->
		                    <div class="form-group">
		                        <label>Email</label>
		                        <input formControlName="email1" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.email1.errors }" [(ngModel)]="email_val"  type="email" id="email1" aria-describedby="emailHelp" readonly>	
		                    </div>
		                    <div class="name-slod">
		                    <div class="form-group">
		                        <label>Phone number</label>
		                        <div class="input-duble" style="display: block;">             
			                        <select (change)="selectOption($event.target.value)" class="form-control">
			                        	<option [value]="processTemplate.code" *ngFor="let processTemplate of phonecode">{{processTemplate.code}}</option>
			                        </select>
		                        	<input formControlName="phone" [(ngModel)]="phone_val" type="number" class="form-control mmm" id="phone"  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"  ng-pattern-restrict>
			                        <div *ngIf="submitted && this.f.phone.errors" class="invalid-feedback">
		                             <div *ngIf="this.f.phone.errors.required">Phone is required</div>
	                    			</div>
                    			</div>				                
				                <div *ngIf="submitted" style="color: red">{{resonseError_profile}}</div>
		                    </div>
			                </div>
			                <div class="form-group country-resi">
		                        <label>Country of residence</label>
		                        <select  (change)="selectOptionCountry($event.target.value)" >
				                    <option [value]="processTemplate.name" *ngFor="let processTemplate of phonecode">{{processTemplate.name}}</option>
				                </select>	
				                <label *ngIf="countrydiscovery==1" class="country-req">Country is required</label>
		                    </div>		                    
		                    <div class="center">
		                        <button type="submit" class="yellow-button">Save</button>
		                    </div>
		                    <div class="reset-0">
		                    	<a [routerLink]="" (click)="onGoToResetPassword()">Reset my password</a>
		                    	<a [routerLink]="" (click)="deleteaccount()">Delete my account</a>	
		                    </div>
		                </div>
                	</form>
                </div>
            </div>
        </div>
    <div class="copyright text-center">Brightmaven 2019</div>
</div>
</section>