<!--forgotpassword-page-->
<section class="forgotpassword-page">
    <div class="hrrbox">
        <div class="header-logoinn">
            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>
        <div class="box-signon">
            <div class="box-sign">
            	<div class="boxon-sign">
                <h1 class="heading-1">Reset password</h1>

                <form [formGroup]="forgotpasswordFrom" (ngSubmit)="onSubmit_forgotPassword()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">New password</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.exampleInputEmail1.errors }" formControlName="exampleInputEmail1" name="exampleInputEmail1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$">
                         <div *ngIf="submitted && f.exampleInputEmail1.errors" class="invalid-feedback">
                             <div *ngIf="f.exampleInputEmail1.errors.required">Password is required</div>
                             <div *ngIf="f.exampleInputEmail1.errors.pattern">Password must be at least 8 character, including UPPERCASE/lowercase/Special character and numbers.</div>
                             <!-- <div *ngIf="f.exampleInputEmail1.errors.minlength">Password must be at least 8 characters long.
                             </div> -->
                         </div>

                    </div>
                    <div class="form-group">

                        <div class="d-flex justify-content-between">
                            <div>
                                <label for="exampleInputPassword2">Confirm new password</label>
                            </div>
                            
                        </div>
                        <input type="password" class="form-control" id="exampleInputPassword2" 
                        [ngClass]="{ 'is-invalid': submitted && f.exampleInputPassword2.errors }" formControlName="exampleInputPassword2" name="exampleInputPassword2">
                        <div class="error-msg" *ngIf="this.f.exampleInputEmail1.value !== this.f.exampleInputPassword2.value">
                        <p style="color: #d53241; font-size: 13px;margin: 5px 0 0;">Passwords don't match.</p></div>
                    </div>
                    <div class="center">
                        <button type="submit" class="yellow-button">Save</button>
                    </div>
                </form>

                </div>
                

            </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>