<!--home-page-->
<section class="home-page find-page" [ngClass]="{'homepage-login': this.sessionDetails != null }">
    <div class="hrrbox">
        <div class="header-logoinn" *ngIf="this.sessionDetails === null ">
            <h3 class="logotext"><img class="logo-image1" src="../assets/img/logo.png">SJERLOK</h3>
        </div>


        <div class="box-signon">
                <!-- <div _ngcontent-jmk-c1="" class="login-button-div"> <button *ngIf="this.sessionDetails === null " type="button" class="btn btn-primary btn-sm" (click)="onGoToLogin()"><a>Login</a></button>  </div> -->

 
            
            <div class="box-sign">
                <div class="boxon-sign">
                    <div class="text-div-home">
                        <h3 class="heading-1">The Sjerlok lookup portal is connected to the world's largest database of stolen property.</h3>
                        <p class="margin-bottom-home">This lookup portal tool is connected to the Sjerlok database which contains information about stolen and missing objects such as vehicles, machinery, marine, electronics, cargo and valuables. It's the only international database with full profile information about stolen and missing objects from owners all around Europe. </p>

                        <h3 class="heading-1">Secure communications. </h3>

                        <p>Public and private partners can search 24/7 through this database in real time as part of their research. The portal connects people who discovers stolen objects to the owner in all countries around the world. Moreover, the Sjerlok lookup portal enables authorized partners to share sensitive and urgent information with the owner around the globe. </p>
                    </div>
                    <!-- <form [formGroup]="simpleSearchForm" (ngSubmit)="onSubmit_serach()">
                        <div class="form-group">
                            <div _ngcontent-wrm-c1="" class="d-flex justify-content-between">
                                <h1 class="heading-1">
                                    Find stolen objects online
                                </h1>
                                <div _ngcontent-jmk-c1="" class="forg-0"><a [routerLink]=""  *ngIf="this.sessionDetails != null"  (click)="onGoToExtendedsearch();" style="color:white;">Advanced search</a></div>

                            </div>

                            <input type="text" class="form-control" id="VIN" placeholder="VIN / HIN / Registration number / License Plate" [ngClass]="{ 'is-invalid': submitted && f.formGroupExampleInput.errors }" formControlName="formGroupExampleInput" name="formGroupExampleInput" id="formGroupExampleInput">
                            <div *ngIf="submitted && f.formGroupExampleInput.errors" class="invalid-feedback">
                              <div *ngIf="f.formGroupExampleInput.errors.required"><h6 class="center">Search can't be empty</h6></div>
                            </div>
                        </div>
                        <div class="center">
                            <button type="submit" class="yellow-button" >Check now</button>
                        </div>
                    </form> -->

                </div>

            </div>
            <div _ngcontent-jmk-c1="" class="login-button-div"> <button *ngIf="this.sessionDetails === null " type="button" class="btn btn-primary btn-sm" (click)="onGoToLogin()"><a>Login</a></button>  </div>
        </div>
        <h3 class="copyright text-center">Brightmaven 2019</h3>
    </div>
</section>